In [11]:
spark.conf.get()

Py4JJavaError: An error occurred while calling o49.get.
: java.util.NoSuchElementException: port
	at org.apache.spark.sql.internal.SQLConf.$anonfun$getConfString$3(SQLConf.scala:3196)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.internal.SQLConf.getConfString(SQLConf.scala:3196)
	at org.apache.spark.sql.RuntimeConfig.get(RuntimeConfig.scala:73)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)

In [4]:
df = spark.read.csv("stockdata0.csv",inferSchema=True,header=True)

KeyboardInterrupt:

In [ ]:
df.schema

In [ ]:
df.select(["symbol",'open']).show(2)

In [ ]:
df.groupBy('symbol')

In [12]:
df=spark.read.csv("stockdata0.csv",inferSchema=True, header=True, index_col=0)

TypeError: csv() got an unexpected keyword argument 'index_col'

In [5]:
df.toPandas() `

,_c0,date,symbol,adj_close,close,high,low,open,volume
0,1,2013-01-02,A,27.8608,29.9571,30.1645,29.4349,30.1645,8790200.0
1,2,2013-01-02,AAL,13.1795,13.9800,14.0100,13.6000,13.7200,6662000.0
2,3,2013-01-02,AAMC,76.0000,76.0000,85.0000,75.7500,83.5000,26000.0
3,4,2013-01-02,AAME,3.0598,3.2000,3.2400,3.0900,3.0900,3500.0
4,5,2013-01-02,AAN,28.0020,28.7000,28.7800,28.3000,28.7200,463600.0
...,...,...,...,...,...,...,...,...,...
61429,61430,2013-01-30,ZIV,28.6800,28.6800,29.4600,28.6700,29.1500,76200.0
61430,61431,2013-01-30,ZIXI,3.2900,3.2900,3.3900,3.2900,3.3600,211200.0
61431,61432,2013-01-30,ZN,1.0000,1.0000,1.0500,1.0000,1.0500,368000.0
61432,61433,2013-01-30,ZNH,26.2100,29.2600,29.5800,29.2600,29.5800,7900.0
61433,61434,2013-01-30,ZTR,4.5526,12.7600,12.8400,12.7600,12.8000,72800.0

In [21]:
df = spark.read.csv("stockdata0.csv",inferSchema = True, header=True)

In [22]:
df.show(2)

+---+----------+------+---------+-------+-------+-------+-------+---------+
|_c0|      date|symbol|adj_close|  close|   high|    low|   open|   volume|
+---+----------+------+---------+-------+-------+-------+-------+---------+
|  1|2013-01-02|     A|  27.8608|29.9571|30.1645|29.4349|30.1645|8790200.0|
|  2|2013-01-02|   AAL|  13.1795|  13.98|  14.01|   13.6|  13.72|6662000.0|
+---+----------+------+---------+-------+-------+-------+-------+---------+
only showing top 2 rows

In [3]:
selected_stocks = ('BYND','MSFT','GOOGL','FB','SPCE','LB')
df = spark.read.format("jdbc").option('url',"jdbc:postgresql://192.168.0.108:5432/testdb1") \
    .options(schema ="incertae", user='postgres',password='reallyStrongPwd123') \
    .option("driver", "org.postgresql.Driver") \
    .options(dbtable=f""" (SELECT * FROM incertae.stockdata where symbol in {selected_stocks}) as t1 """).load()

In [4]:
selected_stocks = ('BYND','MSFT','GOOGL','FB','SPCE','LB')
df2 = spark.read.format("jdbc").option('url',"jdbc:postgresql://192.168.0.108:5432/testdb1") \
    .options(schema ="incertae", user='postgres',password='reallyStrongPwd123') \
    .option("driver", "org.postgresql.Driver") \
    .options(dbtable=f""" (SELECT symbol, name, marketcap::numeric::float FROM incertae."Symbols" where symbol in {selected_stocks}) as t1 """).load()

In [6]:
stock_broadcasted = sc.broadcast(df2.toPandas().set_index("symbol").to_dict())

In [16]:
def test_funct(symb):
    try:
        a = stock_broadcasted.value['marketcap'][symb]
    except:
        a="shoot"
    return a

sp_funct = func.udf(test_funct)
selected_symbols = df.groupBy("symbol").agg(func.avg('open').alias("avg")).sort('avg')

In [17]:
apply_func = selected_symbols.withColumn("title", sp_funct(func.col( "symbol")))

In [18]:
apply_func.toPandas()

  symbol          avg      title
0   SPCE    22.250000     3100.0
1     LB    36.440769     4000.0
2   BYND   134.543614     8600.0
3   MSFT   214.519231  1391030.0
4     FB   275.360767   659250.0
5  GOOGL  1752.580773   960280.0

In [13]:
selected_symbs = df.groupBy("symbol").agg(func.avg("open").alias("avg")).sort('avg')

In [62]:
stock_symb_broadcast = sc.broadcast(df2.toPandas().set_index("symbol").to_dict())

def marketcap(symb):
    import numpy as np
    try:
#         print(symbols_broadcast.value)
#         a=symbols_broadcast.value[symb]
        a=stock_symb_broadcast.value
    except:
#         a=np.nan
        a=10
    return a
lookup_symbol = func.udf(marketcap)
apply_func = selected_symbs.withColumn("title", lookup_symbol(func.col( "symbol")))
res = apply_func.toPandas()

In [63]:
apply_func.take(1)

[Row(symbol='SPCE', avg=22.250000146719124, title='{name={MSFT=Microsoft Corporation, GOOGL=Alphabet Inc., BYND=Beyond Meat, Inc., LB=L Brands, Inc., SPCE=Virgin Galactic Holdings, Inc., FB=Facebook, Inc.}, marketcap={MSFT=1391030.0, GOOGL=960280.0, BYND=8600.0, LB=4000.0, SPCE=3100.0, FB=659250.0}}')]

In [ ]:
 d = json.loads(s)

In [59]:
res.loc[0,'title']

'net.razorvine.pickle.objects.ClassDictConstructor@4a1e4c69'

In [65]:
res.loc[0,'title']

'{name={MSFT=Microsoft Corporation, GOOGL=Alphabet Inc., BYND=Beyond Meat, Inc., LB=L Brands, Inc., SPCE=Virgin Galactic Holdings, Inc., FB=Facebook, Inc.}, marketcap={MSFT=1391030.0, GOOGL=960280.0, BYND=8600.0, LB=4000.0, SPCE=3100.0, FB=659250.0}}'

In [64]:
d = json.loads(res.loc[0,'title'])
d

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

In [36]:
apply_func = selected_symbs.withColumn("title", lookup_symbol(func.col( "symbol")))
apply_func.toPandas()

  symbol          avg title
0   SPCE    22.250000   NaN
1     LB    36.440769   NaN
2   BYND   134.543614   NaN
3   MSFT   214.519231   NaN
4     FB   275.360767   NaN
5  GOOGL  1752.580773   NaN

  symbol          avg title
0   SPCE    22.250000   NaN
1     LB    36.440769   NaN
2   BYND   134.543614   NaN
3   MSFT   214.519231   NaN
4     FB   275.360767   NaN
5  GOOGL  1752.580773   NaN

In [10]:
df.printSchema

In [8]:
df.groupBy('symbol').agg(func.sum("open").alias("sum")).take(2)

[Row(symbol='ALXN', sum=1949.7100000000005),
 Row(symbol='CBIO', sum=9695.699999999999)]

In [6]:
df.toPandas()

,_c0,date,symbol,adj_close,close,high,low,open,volume
0,1,2013-01-02,A,27.8608,29.9571,30.1645,29.4349,30.1645,8790200.0
1,2,2013-01-02,AAL,13.1795,13.9800,14.0100,13.6000,13.7200,6662000.0
2,3,2013-01-02,AAMC,76.0000,76.0000,85.0000,75.7500,83.5000,26000.0
3,4,2013-01-02,AAME,3.0598,3.2000,3.2400,3.0900,3.0900,3500.0
4,5,2013-01-02,AAN,28.0020,28.7000,28.7800,28.3000,28.7200,463600.0
...,...,...,...,...,...,...,...,...,...
61429,61430,2013-01-30,ZIV,28.6800,28.6800,29.4600,28.6700,29.1500,76200.0
61430,61431,2013-01-30,ZIXI,3.2900,3.2900,3.3900,3.2900,3.3600,211200.0
61431,61432,2013-01-30,ZN,1.0000,1.0000,1.0500,1.0000,1.0500,368000.0
61432,61433,2013-01-30,ZNH,26.2100,29.2600,29.5800,29.2600,29.5800,7900.0
61433,61434,2013-01-30,ZTR,4.5526,12.7600,12.8400,12.7600,12.8000,72800.0