In [1]:
import numpy as np
import pandas as pd
import psycopg2 as pg
from sqlalchemy import create_engine, MetaData
import yfinance as yf
from itertools import chain
from datetime import  datetime

In [2]:
import sys
sys.path.append("..")

In [3]:
import database.database_helper as dbh

DEBUG    This is a debug message (blue)
INFO     This is an info message (green)
WARNING  This is a warning message (yellow)
ERROR    This is an error message (red)

../frontend/database.ini True

In [4]:
    cursor= dbh.get_pg_cursur()
    cursor.execute("SELECT distinct symbol FROM saffron.magnificent7")

In [5]:
cursor.fetchall()

[('TSLA',), ('IBM',)]

In [21]:
cursor.connection.get_dsn_parameters()["dbname"]

'postgres'

In [17]:
cursor.connection.rollback()

In [20]:
    cursor.execute("""
      SELECT table_name
      FROM information_schema.tables
    """)
    cursor.fetchall()

[('pg_statistic',),
 ('pg_type',),
 ('pg_foreign_table',),
 ('pg_authid',),
 ('pg_shadow',),
 ('pg_roles',),
 ('pg_statistic_ext_data',),
 ('pg_hba_file_rules',),
 ('pg_settings',),
 ('pg_file_settings',),
 ('pg_backend_memory_contexts',),
 ('pg_ident_file_mappings',),
 ('pg_config',),
 ('pg_shmem_allocations',),
 ('pg_tables',),
 ('pg_user_mapping',),
 ('pg_replication_origin_status',),
 ('pg_subscription',),
 ('pg_attribute',),
 ('pg_proc',),
 ('pg_class',),
 ('pg_attrdef',),
 ('pg_constraint',),
 ('pg_inherits',),
 ('pg_index',),
 ('pg_operator',),
 ('pg_statio_all_sequences',),
 ('pg_opfamily',),
 ('pg_opclass',),
 ('pg_am',),
 ('pg_amop',),
 ('pg_amproc',),
 ('pg_language',),
 ('pg_largeobject_metadata',),
 ('pg_aggregate',),
 ('pg_statistic_ext',),
 ('pg_rewrite',),
 ('pg_trigger',),
 ('pg_event_trigger',),
 ('pg_description',),
 ('pg_cast',),
 ('pg_enum',),
 ('pg_namespace',),
 ('pg_conversion',),
 ('pg_depend',),
 ('pg_database',),
 ('pg_db_role_setting',),
 ('pg_tablespace',),
 ('pg_auth_members',),
 ('pg_shdepend',),
 ('pg_shdescription',),
 ('pg_ts_config',),
 ('pg_ts_config_map',),
 ('pg_ts_dict',),
 ('pg_ts_parser',),
 ('pg_ts_template',),
 ('pg_extension',),
 ('pg_foreign_data_wrapper',),
 ('pg_foreign_server',),
 ('pg_policy',),
 ('pg_replication_origin',),
 ('pg_default_acl',),
 ('pg_init_privs',),
 ('pg_seclabel',),
 ('pg_shseclabel',),
 ('pg_collation',),
 ('pg_parameter_acl',),
 ('pg_partitioned_table',),
 ('pg_range',),
 ('pg_transform',),
 ('pg_sequence',),
 ('pg_publication',),
 ('pg_publication_namespace',),
 ('pg_publication_rel',),
 ('pg_subscription_rel',),
 ('pg_group',),
 ('pg_user',),
 ('pg_policies',),
 ('pg_rules',),
 ('pg_views',),
 ('pg_matviews',),
 ('pg_indexes',),
 ('pg_sequences',),
 ('pg_stats',),
 ('pg_stats_ext',),
 ('pg_stats_ext_exprs',),
 ('pg_publication_tables',),
 ('pg_locks',),
 ('pg_cursors',),
 ('pg_available_extensions',),
 ('pg_available_extension_versions',),
 ('pg_prepared_xacts',),
 ('pg_prepared_statements',),
 ('pg_seclabels',),
 ('pg_timezone_abbrevs',),
 ('pg_timezone_names',),
 ('pg_stat_all_tables',),
 ('pg_stat_xact_all_tables',),
 ('pg_stat_xact_user_tables',),
 ('pg_stat_sys_tables',),
 ('pg_stat_xact_sys_tables',),
 ('pg_stat_user_tables',),
 ('pg_statio_all_tables',),
 ('pg_statio_sys_tables',),
 ('pg_statio_user_tables',),
 ('pg_stat_all_indexes',),
 ('pg_stat_sys_indexes',),
 ('pg_stat_user_indexes',),
 ('pg_statio_all_indexes',),
 ('pg_statio_sys_indexes',),
 ('pg_statio_user_indexes',),
 ('pg_statio_sys_sequences',),
 ('pg_statio_user_sequences',),
 ('pg_stat_activity',),
 ('pg_stat_replication',),
 ('pg_stat_slru',),
 ('pg_stat_wal_receiver',),
 ('pg_stat_recovery_prefetch',),
 ('pg_stat_subscription',),
 ('pg_stat_ssl',),
 ('pg_stat_gssapi',),
 ('pg_replication_slots',),
 ('pg_stat_replication_slots',),
 ('pg_stat_database',),
 ('pg_stat_database_conflicts',),
 ('pg_stat_user_functions',),
 ('pg_stat_xact_user_functions',),
 ('pg_stat_archiver',),
 ('pg_stat_bgwriter',),
 ('pg_stat_io',),
 ('pg_stat_wal',),
 ('pg_stat_progress_analyze',),
 ('pg_stat_progress_vacuum',),
 ('pg_stat_progress_cluster',),
 ('pg_stat_progress_create_index',),
 ('pg_stat_progress_basebackup',),
 ('pg_stat_progress_copy',),
 ('pg_user_mappings',),
 ('pg_stat_subscription_stats',),
 ('pg_largeobject',),
 ('collations',),
 ('information_schema_catalog_name',),
 ('applicable_roles',),
 ('domain_constraints',),
 ('administrable_role_authorizations',),
 ('collation_character_set_applicability',),
 ('attributes',),
 ('character_sets',),
 ('column_udt_usage',),
 ('check_constraint_routine_usage',),
 ('column_column_usage',),
 ('check_constraints',),
 ('constraint_table_usage',),
 ('column_domain_usage',),
 ('columns',),
 ('column_privileges',),
 ('constraint_column_usage',),
 ('domain_udt_usage',),
 ('domains',),
 ('enabled_roles',),
 ('key_column_usage',),
 ('parameters',),
 ('table_privileges',),
 ('referential_constraints',),
 ('sql_features',),
 ('role_column_grants',),
 ('routine_column_usage',),
 ('routine_privileges',),
 ('role_routine_grants',),
 ('routine_routine_usage',),
 ('sql_implementation_info',),
 ('routine_sequence_usage',),
 ('routine_table_usage',),
 ('routines',),
 ('schemata',),
 ('sql_parts',),
 ('sequences',),
 ('transforms',),
 ('sql_sizing',),
 ('role_table_grants',),
 ('table_constraints',),
 ('triggers',),
 ('tables',),
 ('triggered_update_columns',),
 ('udt_privileges',),
 ('role_udt_grants',),
 ('usage_privileges',),
 ('role_usage_grants',),
 ('user_defined_types',),
 ('view_column_usage',),
 ('foreign_servers',),
 ('view_routine_usage',),
 ('view_table_usage',),
 ('_pg_foreign_tables',),
 ('views',),
 ('data_type_privileges',),
 ('element_types',),
 ('_pg_foreign_table_columns',),
 ('foreign_table_options',),
 ('column_options',),
 ('_pg_foreign_data_wrappers',),
 ('foreign_data_wrapper_options',),
 ('foreign_data_wrappers',),
 ('_pg_foreign_servers',),
 ('foreign_tables',),
 ('foreign_server_options',),
 ('_pg_user_mappings',),
 ('user_mapping_options',),
 ('user_mappings',)]

In [2]:
conn = pg.connect(
    host="localhost",
    database="stocks",
    user="postgres",
    password="StrongPass123")
curs = conn.cursor()

OperationalError: could not connect to server: Connection refused
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?

In [ ]:
docker exec -it stock-postgres bash -c "psql -h localhost -p 5432 -U postgres -c \"\\l \""

# Add security data to DB

In [4]:
df = pd.read_csv("nyse.csv")
df.columns =[x.lower().replace(" " , "_") for x in df.columns]
df['ticker'] = df['ticker'].str.replace(" ","")

In [67]:
dft = df["name"]
dft[dft.str.len()>200]

1281    Synthetic Fixed-Income Securities Inc. Synthet...
1646    Kimco Realty Corporation Class L Depositary Sh...
1647    Kimco Realty Corporation Class M Depositary Sh...
Name: name, dtype: object

In [68]:
{c:max(df[c].replace(np.nan,"").apply(len)) for c in df.select_dtypes("object")}

{'ticker': 6, 'name': 249, 'country': 20, 'sector': 21, 'industry': 62}


## Sqlalchemy engine

In [40]:
engine = create_engine("postgresql://postgres:reallyStrongPwd123@192.168.0.108/postgres")
# df.to_sql("security", con = engine, schema="saffron", index=False, if_exists="append")

In [43]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Numeric
# engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

stock = Table(
   'stocks', meta, 
   Column('id', Integer, primary_key = True), 
   Column('ticker', String, unique=True, index=True), 
   Column('price', Numeric(10, 4)),
   Column('forward_pe', Numeric(10, 4)),
   Column('dividend_yield', Numeric(10, 4)),
   Column('ma50', Numeric(10, 4)),
   Column('ma200', Numeric(10, 4)),
   schema='saffron'
)
meta.create_all(engine)

In [35]:
metadata_obj = MetaData()

In [38]:
for t in metadata_obj.sorted_tables:
    print(t.name)

In [36]:
conn = pg.connect(host="192.168.0.108", port = "5432",database="postgres",user="postgres",password="reallyStrongPwd123")
# port should be provided here. 

cursor = conn.cursor()
cursor.execute("""INSERT INTO saffron.data_vendor (name, website_url) VALUES ('Quandl', 'https://nasdaq.com')""")
conn.commit()
conn.close()

## Mark SP500

In [71]:
df.set_index("ticker").join(dfsp500.set_index("symbol"),how="inner")

,exchange_id,name,market_cap,country,ipo_year,sector,industry
A,1,Agilent Technologies Inc. Common Stock,4.730344e+10,United States,1999.0,Capital Goods,Electrical Products
AAP,1,Advance Auto Parts Inc.,1.496774e+10,United States,NaN,Consumer Services,Other Specialty Stores
ABBV,1,AbbVie Inc. Common Stock,2.218160e+11,United States,2012.0,Health Care,Other Pharmaceuticals
ABC,1,AmerisourceBergen Corporation Common Stock,2.562746e+10,United States,NaN,Health Care,Other Pharmaceuticals
ABT,1,Abbott Laboratories Common Stock,2.376050e+11,United States,NaN,Health Care,Medical/Dental Instruments
...,...,...,...,...,...,...,...
XOM,1,Exxon Mobil Corporation Common Stock,2.667570e+11,United States,NaN,Energy,Oil & Gas Production
XYL,1,Xylem Inc. Common Stock New,2.214394e+10,United States,2011.0,Capital Goods,Fluid Controls
YUM,1,Yum! Brands Inc.,3.924173e+10,United States,NaN,Consumer Services,Restaurants
ZBH,1,Zimmer Biomet Holdings Inc. Common Stock,2.600696e+10,United States,NaN,Health Care,Industrial Specialties
ZTS,1,Zoetis Inc. Class A Common Stock,1.095050e+11,United States,2013.0,Health Care,Biotechnology: Pharmaceutical Preparations

In [72]:
dfsp500 = pd.read_csv("constituents_csv.csv")
dfsp500.columns = [c.lower() for c in dfsp500.columns]
dfsp500.drop(["name","sector"],axis=1,inplace=True)
dfsp500.to_sql("sp500", schema="saffron", con=engine, index=False, if_exists="append")

In [20]:
symbols=["MSFT"]
start="2016-01-01"
end="2021-12-23"
df = yf.download(symbols, start=start, end=end)

[*********************100%***********************]  1 of 1 completed

# initial data entry

In [24]:
df.columns = [x.lower().replace(" ","_") for x in df.columns]

In [28]:
df=df.reset_index()
df.rename({"Date":"date"}, axis=1,inplace=True)

In [30]:
df.to_sql("daily_price", con=engine, schema="saffron", if_exists="append",index=False)

In [6]:
sp5001 = pd.read_sql("select id,ticker from saffron.security where sp500='1'",con=engine)
ticker_list = list (sp5001["ticker"].values)

In [12]:
sp5 = pd.read_csv("Stocks in the SP 500 Index.csv")

In [10]:
sp5001[sp5001.ticker == "MMM"]

     id ticker
0  7009    MMM

In [16]:
sp5.to_sql("sp500", con=engine,schema="saffron",if_exists="replace")

In [ ]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [74]:
df_yf = yf.download(ticker_list, start="2016-01-01", end="2017-01-01")

[*********************100%***********************]  352 of 352 completed

7 Failed downloads:
- IR: Data doesn't exist for startDate = 1451628000, endDate = 1483250400
- CARR: Data doesn't exist for startDate = 1451628000, endDate = 1483250400
- CDAY: Data doesn't exist for startDate = 1451628000, endDate = 1483250400
- CTVA: Data doesn't exist for startDate = 1451628000, endDate = 1483250400
- DOW: Data doesn't exist for startDate = 1451628000, endDate = 1483250400
- OTIS: Data doesn't exist for startDate = 1451628000, endDate = 1483250400
- OGN: Data doesn't exist for startDate = 1451628000, endDate = 1483250400

In [92]:
df = df_yf.stack(level=1)
df.columns = [c.lower().replace(" ","_") for c in df.columns]
df.index.names = ["date","ticker"]
df = df.reset_index()
sp500_dict = sp5001.set_index("ticker").to_dict()["id"]
df["ticker_id"] = df.ticker.map(sp500_dict)
df["data_vendor_id"] = 1

In [125]:
df.to_sql("daily_price", con=engine, schema="saffron", index=False, if_exists="append")

# Airflow functions

In [136]:
conn = pg.connect(
    host="192.168.0.108",
    database="stocks",
    user="postgres",
    password="reallyStrongPwd123")
curs = conn.cursor()
curs.execute(
    """select ticker from saffron.security  where sp500 = 'true' """)
symb = curs.fetchall()
symb = list(chain(*symb))

In [140]:
conn = pg.connect(
    host="192.168.0.108",
    database="postgres",
    user="postgres",
    password="reallyStrongPwd123")
cursor = conn.cursor()
cursor.execute("select max(t1.date),t1.ticker from saffron.daily_price t1 group by t1.ticker")
maxdate = cursor.fetchall()
cursor.execute("select min(t1.date),t1.ticker from saffron.daily_price t1 group by t1.ticker")
mindate = cursor.fetchall()
cursor.close()

In [153]:
from operator import itemgetter

In [158]:
conn = pg.connect(
    host="192.168.0.108",
    database="postgres",
    user="postgres",
    password="reallyStrongPwd123")
cursor = conn.cursor()
cursor.execute(
    """select ticker from saffron.security  where sp500 = 'true' """)

cursor.fetchmany(19)

[('MMM',),
 ('AOS',),
 ('ABT',),
 ('ABBV',),
 ('ACN',),
 ('ADM',),
 ('AAP',),
 ('AES',),
 ('AFL',),
 ('A',),
 ('APD',),
 ('ALK',),
 ('ALB',),
 ('ARE',),
 ('ALLE',),
 ('ALL',),
 ('MO',),
 ('AMCR',),
 ('AEE',)]

In [166]:
existing_start[0].isoweekday() ,existing_start[0].strftime('%A')

(4, 'Thursday')

In [160]:
existing_end_date[0] + pd.Timedelta(days=1)

datetime.datetime(2016, 12, 31, 0, 0)

## get ticker functions

In [175]:
def get_time_interval(normal_stock_days=True):
        conn = pg.connect(
            host="192.168.0.108",
            database="postgres",
            user="postgres",
            password="reallyStrongPwd123")
        cursor = conn.cursor()
        cursor.execute(
            """select ticker from saffron.security  where sp500 = 'true' """)
        symb = cursor.fetchall()
        symb = list(chain(*symb))
        # curs.execute("""select max(date)  from saffron."daily_price" """)
        cursor.execute(
            "select max(t1.date),t1.ticker from saffron.daily_price t1 group by t1.ticker")
        maxdate = cursor.fetchall()
        cursor.execute(
            "select min(t1.date),t1.ticker from saffron.daily_price t1 group by t1.ticker")
        mindate = cursor.fetchall()
        conn.close()
        db_start_date = max(mindate, key=itemgetter(0))[0]
        db_last_date = min(maxdate, key=itemgetter(0))[0]
        # curs.execute("""select max(date)  from saffron.daily_price """)
        # db_last_date = curs.fetchone()[0]
        db_last_date_next = db_last_date + pd.Timedelta(days=1)
        current_date = datetime.today()

        if normal_stock_days:
            if current_date.isoweekday() == 7:
                current_date = current_date - pd.Timedelta(days=2)
            elif current_date.isoweekday() == 6:
                current_date = current_date - pd.Timedelta(days=1)
        return {"start": db_last_date_next.strftime("%Y-%m-%d"), "end": current_date.strftime("%Y-%m-%d"), "symbols": symb}

ddd = get_time_interval()

# Add new data

In [176]:
ddd = get_time_interval()

In [179]:
ddd["start"]
ddd["end"]

'2021-12-17'

In [181]:
 def add_new_data(symbols, start="2020-08-02", end="2020-08-19"):
       # params = config(filename="../iris/database.ini")
       # SQLALCHEMY_DATABASE_URL = f"postgresql://{params['user']}:{params['password']}@{params['host']}/{params['database']}"
       SQLALCHEMY_DATABASE_URL = "postgresql://postgres:reallyStrongPwd123@192.168.0.108/postgres"
       #
       engine = create_engine(SQLALCHEMY_DATABASE_URL)
       df_yf = yf.download(symbols, start=start, end=end)
       # df_yf.to_csv("rootcauseerror.csv")
       df = df_yf.stack(level=1)
       df.columns = [c.lower().replace(" ","_") for c in df.columns]
       df.index.names = ["date","ticker"]
       df = df.reset_index()

       sp5001 = pd.read_sql("select id,ticker from saffron.security where sp500='1'",con=engine)
       sp500_dict = sp5001.set_index("ticker").to_dict()["id"]
       df["ticker_id"] = df.ticker.map(sp500_dict)
       df["data_vendor_id"] = 1

       df.to_sql("daily_price", con=engine, schema="saffron",
              index=False, if_exists='append')
       
add_new_data(ticker_list[:3], ddd["start"], "2018-01-01")

[*********************100%***********************]  3 of 3 completed