In [1]:

import numpy as np
import pandas as pd
import pandas_ta as ta
import torch
import torch.nn  as nn
import torch.nn.functional as F
from torch.autograd import Variable
import psycopg2

import os
os.chdir("../")
from watchlist import Watchlist
import sys
from database.postgres_sql_connect import get_engine

# Websites

https://github.com/twopirllc/pandas-ta/blob/master/examples/PandasTA_Strategy_Examples.ipynb

https://github.com/twopirllc/pandas-ta/blob/master/examples/example.ipynb

# get data

In [2]:
SQLALCHEMY_DATABASE_URL = "postgresql://postgres:reallyStrongPwd123@192.168.0.108/postgres"

import yfinance as yf
symbs = pd.read_sql("""select * from saffron."security" where sp500=True """, conn)

df = yf.download(symbs.symbol.to_list(), start="2015-01-01", end="2020-10-25")
df.to_csv("stocks_sp500.csv")

In [79]:
{ x:'_'.join((x.lower()).split(" ") )for x in df2.columns}

{'adj_close': 'adj_close',
 'close': 'close',
 'high': 'high',
 'low': 'low',
 'open': 'open',
 'volume': 'volume'}

In [118]:
df = pd.read_csv("stocks_sp500.csv",header=[0,1], parse_dates=[0], index_col=0)
df2 = df.stack()
df2.index.names = ['date','symbol']
df2= df2.rename({ x:'_'.join((x.lower()).split(" ") )for x in df2.columns}, axis=1)

In [90]:
df2.dropna().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 720484 entries, (Timestamp('2015-01-02 00:00:00'), 'A') to (Timestamp('2020-10-23 00:00:00'), 'ZTS')
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   adj_close  720484 non-null  float64
 1   close      720484 non-null  float64
 2   high       720484 non-null  float64
 3   low        720484 non-null  float64
 4   open       720484 non-null  float64
 5   volume     720484 non-null  float64
dtypes: float64(6)
memory usage: 35.8+ MB

In [119]:
import psycopg2
import sqlalchemy as db
conn = psycopg2.connect(host="slave",
                        database="postgres",
                        user="postgres",
                        password="reallyStrongPwd123")

SQLALCHEMY_DATABASE_URL = "postgresql://postgres:reallyStrongPwd123@192.168.0.108/postgres"

engine = db.create_engine(SQLALCHEMY_DATABASE_URL)
df2.reset_index(inplace=True)
# df2=df2.drop('level_0',axis=1)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "stockdata_pkey"
DETAIL:  Key (date, symbol)=(2015-01-02, A) already exists.

[SQL: INSERT INTO saffron.daily_price (date, symbol, adj_close, close, high, low, open, volume) VALUES (%(date)s, %(symbol)s, %(adj_close)s, %(close)s, %(high)s, %(low)s, %(open)s, %(volume)s)]
[parameters: ({'date': datetime.datetime(2015, 1, 2, 0, 0), 'symbol': 'A', 'adj_close': 38.40389633178711, 'close': 40.560001373291016, 'high': 41.310001373291016, 'low': 40.36999893188477, 'open': 41.18000030517578, 'volume': 1529200.0}, {'date': datetime.datetime(2015, 1, 2, 0, 0), 'symbol': 'AAL', 'adj_close': 51.07991790771485, 'close': 53.90999984741211, 'high': 54.599998474121094, 'low': 53.06999969482422, 'open': 54.27999877929688, 'volume': 10748600.0}, {'date': datetime.datetime(2015, 1, 2, 0, 0), 'symbol': 'AAP', 'adj_close': 155.99827575683594, 'close': 158.55999755859375, 'high': 162.5, 'low': 157.47000122070312, 'open': 160.85000610351562, 'volume': 509800.0}, {'date': datetime.datetime(2015, 1, 2, 0, 0), 'symbol': 'AAPL', 'adj_close': 24.94150161743164, 'close': 27.332500457763672, 'high': 27.86000061035156, 'low': 26.837499618530273, 'open': 27.84749984741211, 'volume': 212818400.0}, {'date': datetime.datetime(2015, 1, 2, 0, 0), 'symbol': 'ABBV', 'adj_close': 50.40806198120117, 'close': 65.88999938964844, 'high': 66.40000152587889, 'low': 65.44000244140625, 'open': 65.44000244140625, 'volume': 5086100.0}, {'date': datetime.datetime(2015, 1, 2, 0, 0), 'symbol': 'ABC', 'adj_close': 82.18142700195312, 'close': 90.45999908447266, 'high': 91.31999969482422, 'low': 89.81999969482422, 'open': 90.61000061035156, 'volume': 1124600.0}, {'date': datetime.datetime(2015, 1, 2, 0, 0), 'symbol': 'ABMD', 'adj_close': 37.310001373291016, 'close': 37.310001373291016, 'high': 38.5099983215332, 'low': 36.86000061035156, 'open': 38.27000045776367, 'volume': 249000.0}, {'date': datetime.datetime(2015, 1, 2, 0, 0), 'symbol': 'ABT', 'adj_close': 39.86105346679688, 'close': 44.900001525878906, 'high': 45.45000076293945, 'low': 44.63999938964844, 'open': 45.25, 'volume': 3216600.0}  ... displaying 10 of 720484 total bound parameter sets ...  {'date': datetime.datetime(2020, 10, 23, 0, 0), 'symbol': 'ZION', 'adj_close': 33.200000762939446, 'close': 33.200000762939446, 'high': 33.31999969482422, 'low': 32.029998779296875, 'open': 32.610000610351555, 'volume': 3093000.0}, {'date': datetime.datetime(2020, 10, 23, 0, 0), 'symbol': 'ZTS', 'adj_close': 163.49000549316406, 'close': 163.49000549316406, 'high': 164.61000061035156, 'low': 162.25, 'open': 163.10000610351562, 'volume': 1111200.0})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [124]:
df2.to_sql("stockdata", con=engine, schema="saffron", if_exists='append',index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "stockdata_pkey"
DETAIL:  Key (date, symbol)=(2015-01-02, A) already exists.

[SQL: INSERT INTO saffron.daily_price (date, symbol, adj_close, close, high, low, open, volume) VALUES (%(date)s, %(symbol)s, %(adj_close)s, %(close)s, %(high)s, %(low)s, %(open)s, %(volume)s)]
[parameters: ({'date': datetime.datetime(2015, 1, 2, 0, 0), 'symbol': 'A', 'adj_close': 38.40389633178711, 'close': 40.560001373291016, 'high': 41.310001373291016, 'low': 40.36999893188477, 'open': 41.18000030517578, 'volume': 1529200.0}, {'date': datetime.datetime(2015, 1, 2, 0, 0), 'symbol': 'AAL', 'adj_close': 51.07991790771485, 'close': 53.90999984741211, 'high': 54.599998474121094, 'low': 53.06999969482422, 'open': 54.27999877929688, 'volume': 10748600.0}, {'date': datetime.datetime(2015, 1, 2, 0, 0), 'symbol': 'AAP', 'adj_close': 155.99827575683594, 'close': 158.55999755859375, 'high': 162.5, 'low': 157.47000122070312, 'open': 160.85000610351562, 'volume': 509800.0}, {'date': datetime.datetime(2015, 1, 2, 0, 0), 'symbol': 'AAPL', 'adj_close': 24.94150161743164, 'close': 27.332500457763672, 'high': 27.86000061035156, 'low': 26.837499618530273, 'open': 27.84749984741211, 'volume': 212818400.0}, {'date': datetime.datetime(2015, 1, 2, 0, 0), 'symbol': 'ABBV', 'adj_close': 50.40806198120117, 'close': 65.88999938964844, 'high': 66.40000152587889, 'low': 65.44000244140625, 'open': 65.44000244140625, 'volume': 5086100.0}, {'date': datetime.datetime(2015, 1, 2, 0, 0), 'symbol': 'ABC', 'adj_close': 82.18142700195312, 'close': 90.45999908447266, 'high': 91.31999969482422, 'low': 89.81999969482422, 'open': 90.61000061035156, 'volume': 1124600.0}, {'date': datetime.datetime(2015, 1, 2, 0, 0), 'symbol': 'ABMD', 'adj_close': 37.310001373291016, 'close': 37.310001373291016, 'high': 38.5099983215332, 'low': 36.86000061035156, 'open': 38.27000045776367, 'volume': 249000.0}, {'date': datetime.datetime(2015, 1, 2, 0, 0), 'symbol': 'ABT', 'adj_close': 39.86105346679688, 'close': 44.900001525878906, 'high': 45.45000076293945, 'low': 44.63999938964844, 'open': 45.25, 'volume': 3216600.0}  ... displaying 10 of 720484 total bound parameter sets ...  {'date': datetime.datetime(2020, 10, 23, 0, 0), 'symbol': 'ZION', 'adj_close': 33.200000762939446, 'close': 33.200000762939446, 'high': 33.31999969482422, 'low': 32.029998779296875, 'open': 32.610000610351555, 'volume': 3093000.0}, {'date': datetime.datetime(2020, 10, 23, 0, 0), 'symbol': 'ZTS', 'adj_close': 163.49000549316406, 'close': 163.49000549316406, 'high': 164.61000061035156, 'low': 162.25, 'open': 163.10000610351562, 'volume': 1111200.0})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [123]:
df2

,date,symbol,adj_close,close,high,low,open,volume
0,2015-01-02,A,38.403896,40.560001,41.310001,40.369999,41.180000,1529200.0
1,2015-01-02,AAL,51.079918,53.910000,54.599998,53.070000,54.279999,10748600.0
2,2015-01-02,AAP,155.998276,158.559998,162.500000,157.470001,160.850006,509800.0
3,2015-01-02,AAPL,24.941502,27.332500,27.860001,26.837500,27.847500,212818400.0
4,2015-01-02,ABBV,50.408062,65.889999,66.400002,65.440002,65.440002,5086100.0
...,...,...,...,...,...,...,...,...
720479,2020-10-23,YUM,101.279999,101.279999,101.510002,99.110001,100.330002,1039400.0
720480,2020-10-23,ZBH,142.710007,142.710007,144.369995,142.300003,144.369995,723300.0
720481,2020-10-23,ZBRA,303.720001,303.720001,304.570007,298.230011,303.000000,293500.0
720482,2020-10-23,ZION,33.200001,33.200001,33.320000,32.029999,32.610001,3093000.0
720483,2020-10-23,ZTS,163.490005,163.490005,164.610001,162.250000,163.100006,1111200.0

In [ ]:
df.columns = map(str.lower, df.columns)

In [108]:
df2[(df2["volume"]==1529200 )&( df2["adj_close"]<44)]

,,adj_close,close,high,low,open,volume
date,symbol,,,,,,
2015-01-02,A,38.403896,40.560001,41.310001,40.369999,41.180000,1529200.0
2016-01-28,RJF,39.711926,42.720001,44.009998,42.570000,43.849998,1529200.0
2016-11-14,LYV,28.469999,28.469999,29.040001,28.450001,28.730000,1529200.0
2020-07-24,UDR,35.127140,35.490002,35.869999,35.250000,35.779999,1529200.0

In [57]:
!ls analyticsoptim/stock_screener/

__init__.py			sp500.csv
__pycache__			stock-analysis-engine-1.9.15
app.py				stock-analysis-engine-1.9.15.tar.gz
database.ini			stock.ipynb
database_sessions.py		technical_screen.py
extract_squeeze.py		use_pandas_ta-Copy1.ipynb
forecasting.py			use_pandas_ta.ipynb
linearregressionpracrice.ipynb	watchlist.py
screener_pandasta.py

In [70]:
symbs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         0 non-null      object
 1   sp500      503 non-null    bool
 2   name       503 non-null    object
 3   symbol     503 non-null    object
 4   amex       365 non-null    object
 5   nasdaq     138 non-null    object
 6   marketcap  501 non-null    object
 7   sector     498 non-null    object
 8   industry   498 non-null    object
 9   nyse       0 non-null      object
 10  ipoyear    503 non-null    int64
dtypes: bool(1), int64(1), object(9)
memory usage: 39.9+ KB

In [71]:
def convert_currency_to_float(a):
    if a is None:
        return a
    else:
        b = a.translate(str.maketrans({'$': '', ',': ''}))
        return float(b)
symbs["marketcap"] =  symbs["marketcap"].apply(convert_currency_to_float)

In [75]:
selected_symbs = tuple(symbs.query('marketcap>100000')["symbol"].to_list())

In [78]:
ss="MSFT"

## Load data

In [3]:

engine = get_engine()
watch = Watchlist(tickers=['MSFT'],ds=engine)
watch.load( verbose = True)

here is the engine
[!] Loading All: MSFT
    open   high    low  close  adj_close    volume symbol        date
0  27.25  27.73  27.15  27.62    23.2415  52899300   MSFT  2013-01-02
1  27.63  27.65  27.16  27.25    22.9301  48294400   MSFT  2013-01-03
2  27.27  27.34  26.73  26.74    22.5010  52521100   MSFT  2013-01-04
3  26.77  26.88  26.64  26.69    22.4589  37110400   MSFT  2013-01-07
4  26.75  26.79  26.46  26.55    22.3411  44703100   MSFT  2013-01-08
[+] Strategy: Common Price and Volume SMAs
[i] Indicator arguments: {'timed': False, 'append': True}
[i] Total indicators: 5
[i] Columns added: 5

# Comprehensive Strategy

## MACD and RSI Momentum with BBANDS and SMAs and Cumulative Log Returns

In [4]:
momo_bands_sma_ta = [
    {"kind":"sma", "length": 50},
    {"kind":"sma", "length": 200},
    {"kind":"bbands", "length": 20},
    {"kind":"macd"},
    {"kind":"squeeze"},
    {"kind":"rsi"},
    {"kind":"log_return", "cumulative": True},
    {"kind":"sma", "close": "CUMLOGRET_1", "length": 5, "suffix": "CUMLOGRET"},
]
momo_bands_sma_strategy = ta.Strategy(
    "Momo, Bands and SMAs and Cumulative Log Returns", # name
    momo_bands_sma_ta, # ta
    "MACD and RSI Momo with BBANDS and SMAs 50 & 200 and Cumulative Log Returns" # description
)
momo_bands_sma_strategy

Strategy(name='Momo, Bands and SMAs and Cumulative Log Returns', ta=[{'kind': 'sma', 'length': 50}, {'kind': 'sma', 'length': 200}, {'kind': 'bbands', 'length': 20}, {'kind': 'macd'}, {'kind': 'squeeze'}, {'kind': 'rsi'}, {'kind': 'log_return', 'cumulative': True}, {'kind': 'sma', 'close': 'CUMLOGRET_1', 'length': 5, 'suffix': 'CUMLOGRET'}], description='MACD and RSI Momo with BBANDS and SMAs 50 & 200 and Cumulative Log Returns', created='11/01/2020, 20:48:44', last_run=None, run_time=None)

In [5]:
watch = Watchlist(tickers=['MSFT'],ds=engine)
watch.load( verbose = True)

[!] Loading All: MSFT
    open   high    low  close  adj_close    volume symbol        date
0  27.25  27.73  27.15  27.62    23.2415  52899300   MSFT  2013-01-02
1  27.63  27.65  27.16  27.25    22.9301  48294400   MSFT  2013-01-03
2  27.27  27.34  26.73  26.74    22.5010  52521100   MSFT  2013-01-04
3  26.77  26.88  26.64  26.69    22.4589  37110400   MSFT  2013-01-07
4  26.75  26.79  26.46  26.55    22.3411  44703100   MSFT  2013-01-08
[+] Strategy: Common Price and Volume SMAs
[i] Indicator arguments: {'timed': False, 'append': True}
[i] Total indicators: 5
[i] Columns added: 5

In [6]:

# Update the Watchlist
watch.strategy = momo_bands_sma_strategy
watch.strategy.name

'Momo, Bands and SMAs and Cumulative Log Returns'

In [109]:
    watch = Watchlist(tickers=[symb],ds=engine)
    print(symb)
    fb = watch.load(symb)

GOOGL
[X] SMA_50 column(s) values are all na: SMA_20
[X] SMA_200 column(s) values are all na: SMA_20
[X] VOL_SMA_20 column(s) values are all na: SMA_20

In [115]:
%load_ext autoreload
%autoreload 2

In [4]:

engine = get_engine()
watch = Watchlist(tickers=['VZ'],ds=engine)
watch.load( verbose = True)

here is the engine
[!] Loading All: VZ
        open       high        low      close  adj_close    volume symbol  \
0  59.279999  59.490002  59.099998  59.240002  58.615902  10005900     VZ
1  59.560001  59.799999  59.180000  59.360001  58.734634  11910500     VZ
2  59.400002  59.599998  59.029999  59.450001  58.823689  14547100     VZ
3  59.459999  59.709999  59.049999  59.490002  58.863266  16347800     VZ
4  59.759998  59.970001  59.330002  59.459999  58.833580  12524900     VZ

         date
0  2020-09-29
1  2020-09-28
2  2020-10-01
3  2020-09-30
4  2020-10-06
[+] Strategy: Common Price and Volume SMAs
[i] Indicator arguments: {'timed': False, 'append': True}
[X] SMA_200 column(s) values are all na: SMA_50
[X] VOL_SMA_20 column(s) values are all na: SMA_50
[i] Total indicators: 5
[i] Columns added: 3

In [43]:
curr = conn.cursor()
curr.execute(""" select * from saffron.daily_price where date<'2013-12-01' """)
curr.fetchall()

[(30.1645,
  30.1645,
  29.4349,
  29.9571,
  27.8608,
  8790200,
  'A',
  datetime.date(2013, 1, 2)),
 (13.72,
  14.01,
  13.6,
  13.98,
  13.1795,
  6662000,
  'AAL',
  datetime.date(2013, 1, 2)),
 (83.5, 85.0, 75.75, 76.0, 76.0, 26000, 'AAMC', datetime.date(2013, 1, 2)),
 (3.09, 3.24, 3.09, 3.2, 3.0598, 3500, 'AAME', datetime.date(2013, 1, 2)),
 (28.72, 28.78, 28.3, 28.7, 28.002, 463600, 'AAN', datetime.date(2013, 1, 2)),
 (9.5067,
  9.6,
  9.3378,
  9.4533,
  8.9194,
  501000,
  'AAON',
  datetime.date(2013, 1, 2)),
 (73.49,
  73.76,
  71.69,
  72.49,
  70.9952,
  800500,
  'AAP',
  datetime.date(2013, 1, 2)),
 (19.7793,
  19.8214,
  19.3439,
  19.6082,
  17.0947,
  560518000,
  'AAPL',
  datetime.date(2013, 1, 2)),
 (28.49,
  28.79,
  28.25,
  28.53,
  23.2455,
  240900,
  'AAT',
  datetime.date(2013, 1, 2)),
 (3.24, 3.25, 3.21, 3.25, 3.25, 154300, 'AAU', datetime.date(2013, 1, 2)),
 (45.54,
  46.01,
  44.52,
  45.58,
  45.58,
  275100,
  'AAWW',
  datetime.date(2013, 1, 2)),
 (61.44,
  61.94,
  61.34,
  61.76,
  53.6225,
  520200,
  'AAXJ',
  datetime.date(2013, 1, 2)),
 (17.65,
  18.02,
  17.65,
  17.99,
  9.472000000000001,
  415300,
  'AB',
  datetime.date(2013, 1, 2)),
 (21.21,
  21.32,
  21.06,
  21.19,
  15.7846,
  2097200,
  'ABB',
  datetime.date(2013, 1, 2)),
 (34.92,
  35.4,
  34.1,
  35.12,
  25.3685,
  13767900,
  'ABBV',
  datetime.date(2013, 1, 2)),
 (43.59,
  43.74,
  43.22,
  43.49,
  38.3918,
  1972400,
  'ABC',
  datetime.date(2013, 1, 2)),
 (12.67,
  12.92,
  12.57,
  12.83,
  12.0046,
  186400,
  'ABCB',
  datetime.date(2013, 1, 2)),
 (12.5, 13.5, 11.5, 13.5, 13.5, 500, 'ABEO', datetime.date(2013, 1, 2)),
 (8.282,
  8.448,
  8.282,
  8.382,
  6.6103,
  48000,
  'ABEV',
  datetime.date(2013, 1, 2)),
 (32.48, 33.4, 32.09, 32.26, 32.26, 600000, 'ABG', datetime.date(2013, 1, 2)),
 (302.4,
  317.52,
  272.16,
  309.96,
  309.96,
  100,
  'ABIO',
  datetime.date(2013, 1, 2)),
 (20.22,
  20.68,
  20.04,
  20.39,
  17.4245,
  451000,
  'ABM',
  datetime.date(2013, 1, 2)),
 (6.09, 6.13, 5.97, 6.04, 6.04, 243400, 'ABR', datetime.date(2013, 1, 2)),
 (32.3,
  32.45,
  31.64,
  32.05,
  27.4742,
  20266400,
  'ABT',
  datetime.date(2013, 1, 2)),
 (5.0, 5.09, 4.99, 5.06, 5.06, 50200, 'ABUS', datetime.date(2013, 1, 2)),
 (7.64, 7.79, 7.47, 7.53, 6.9338, 1055100, 'ACCO', datetime.date(2013, 1, 2)),
 (98.3333,
  100.0,
  90.8333,
  96.6667,
  96.6667,
  600,
  'ACER',
  datetime.date(2013, 1, 2)),
 (14.7933,
  14.8433,
  14.6933,
  14.7933,
  14.7933,
  2932800,
  'ACGL',
  datetime.date(2013, 1, 2)),
 (12.23, 12.43, 12.22, 12.43, 12.43, 237000, 'ACH', datetime.date(2013, 1, 2)),
 (29150.0,
  29568.0,
  27544.0,
  29458.0,
  29458.0,
  0,
  'ACHV',
  datetime.date(2013, 1, 2)),
 (14.8,
  15.07,
  14.6867,
  14.8167,
  14.8167,
  795300,
  'ACIW',
  datetime.date(2013, 1, 2)),
 (5.72, 5.72, 5.48, 5.48, 5.48, 266800, 'ACLS', datetime.date(2013, 1, 2)),
 (24.01, 24.73, 23.95, 24.71, 24.71, 846000, 'ACM', datetime.date(2013, 1, 2)),
 (67.59,
  69.06,
  67.55,
  69.06,
  58.6152,
  4040500,
  'ACN',
  datetime.date(2013, 1, 2)),
 (16.5, 16.5, 16.0, 16.25, 12.4642, 2400, 'ACNB', datetime.date(2013, 1, 2)),
 (17.2724,
  17.5002,
  17.2535,
  17.4622,
  7.2386,
  35400,
  'ACP',
  datetime.date(2013, 1, 2)),
 (16.69, 16.77, 16.5, 16.67, 8.644, 82400, 'ACRE', datetime.date(2013, 1, 2)),
 (4.37, 4.85, 4.34, 4.59, 4.59, 548200, 'ACRX', datetime.date(2013, 1, 2)),
 (26.52,
  27.6,
  26.27,
  26.88,
  24.2833,
  863500,
  'ACTG',
  datetime.date(2013, 1, 2)),
 (11.08, 11.38, 11.08, 11.36, 11.36, 4400, 'ACU', datetime.date(2013, 1, 2)),
 (48.92,
  49.07,
  48.71,
  49.04,
  41.6052,
  2298300,
  'ACWI',
  datetime.date(2013, 1, 2)),
 (42.64,
  42.7,
  42.35,
  42.64,
  34.7547,
  1108600,
  'ACWX',
  datetime.date(2013, 1, 2)),
 (14.24, 15.17, 14.2, 14.96, 14.96, 12500, 'ACY', datetime.date(2013, 1, 2)),
 (37.92,
  38.73,
  37.92,
  38.34,
  38.34,
  6483800,
  'ADBE',
  datetime.date(2013, 1, 2)),
 (27.0,
  27.07,
  26.74,
  26.99,
  18.804000000000002,
  57700,
  'ADC',
  datetime.date(2013, 1, 2)),
 (42.8, 44.01, 42.8, 44.0, 36.3543, 3761100, 'ADI', datetime.date(2013, 1, 2)),
 (28.14,
  28.68,
  28.05,
  28.67,
  23.0389,
  6677100,
  'ADM',
  datetime.date(2013, 1, 2)),
 (12.07, 12.07, 11.22, 12.07, 12.07, 7300, 'ADMP', datetime.date(2013, 1, 2)),
 (50.9745,
  51.4047,
  50.7024,
  51.2643,
  42.8469,
  3217500,
  'ADP',
  datetime.date(2013, 1, 2)),
 (40.82,
  41.16,
  40.82,
  41.13,
  35.3962,
  104000,
  'ADRE',
  datetime.date(2013, 1, 2)),
 (146.87,
  149.23,
  146.39,
  149.04,
  140.8949,
  573900,
  'ADS',
  datetime.date(2013, 1, 2)),
 (36.05,
  36.95,
  36.05,
  36.94,
  36.94,
  2998800,
  'ADSK',
  datetime.date(2013, 1, 2)),
 (19.99,
  20.38,
  19.9,
  20.13,
  17.0033,
  1429100,
  'ADTN',
  datetime.date(2013, 1, 2)),
 (7.44, 7.44, 7.2, 7.33, 7.33, 65800, 'ADUS', datetime.date(2013, 1, 2)),
 (10.81, 10.85, 10.72, 10.85, 6.603, 322400, 'ADX', datetime.date(2013, 1, 2)),
 (58.125,
  58.125,
  52.5,
  54.375,
  54.375,
  500,
  'ADXS',
  datetime.date(2013, 1, 2)),
 (36.33, 37.26, 36.0, 36.36, 30.7776, 9200, 'AE', datetime.date(2013, 1, 2)),
 (23.35, 23.6, 23.35, 23.48, 17.9652, 18500, 'AEB', datetime.date(2013, 1, 2)),
 (6.55, 6.55, 6.45, 6.51, 3.9818, 849600, 'AEG', datetime.date(2013, 1, 2)),
 (0.87, 0.87, 0.81, 0.84, 0.84, 2800, 'AEHR', datetime.date(2013, 1, 2)),
 (53.64,
  53.78,
  53.29,
  53.33,
  47.9773,
  1879600,
  'AEM',
  datetime.date(2013, 1, 2)),
 (52.5, 60.0, 45.0, 60.0, 60.0, 200, 'AEMD', datetime.date(2013, 1, 2)),
 (20.52,
  20.7,
  19.77,
  20.08,
  15.7136,
  6400700,
  'AEO',
  datetime.date(2013, 1, 2)),
 (43.17,
  43.65,
  43.14,
  43.65,
  32.9901,
  3979400,
  'AEP',
  datetime.date(2013, 1, 2)),
 (10.89,
  11.03,
  10.81,
  11.0,
  8.5397,
  5166900,
  'AES',
  datetime.date(2013, 1, 2)),
 (2.0, 2.08, 2.0, 2.08, 2.08, 25400, 'AEY', datetime.date(2013, 1, 2)),
 (244.0, 258.0, 237.0, 253.0, 253.0, 13000, 'AEZS', datetime.date(2013, 1, 2)),
 (15.65, 15.89, 15.63, 15.86, 15.86, 107400, 'AFB', datetime.date(2013, 1, 2)),
 (24.92,
  24.97,
  24.91,
  24.97,
  14.9933,
  15700,
  'AFC',
  datetime.date(2013, 1, 2)),
 (39.94,
  40.14,
  39.76,
  39.97,
  30.1954,
  509000,
  'AFG',
  datetime.date(2013, 1, 2)),
 (27.195,
  27.22,
  26.86,
  27.035,
  27.035,
  8072800,
  'AFL',
  datetime.date(2013, 1, 2)),
 (18.83,
  19.07,
  18.71,
  19.05,
  10.7967,
  51200,
  'AFT',
  datetime.date(2013, 1, 2)),
 (20.64, 21.19, 20.64, 21.16, 21.16, 731000, 'AG', datetime.date(2013, 1, 2)),
 (50.44,
  50.6,
  49.61,
  50.19,
  46.7442,
  1064900,
  'AGCO',
  datetime.date(2013, 1, 2)),
 (10.62, 10.78, 10.56, 10.78, 10.78, 130900, 'AGD', datetime.date(2013, 1, 2)),
 (4.2, 4.27, 3.71, 4.24, 4.24, 137800, 'AGEN', datetime.date(2013, 1, 2)),
 (18.04, 18.06, 18.04, 18.06, 16.8856, 1000, 'AGI', datetime.date(2013, 1, 2)),
 (33.2, 33.5, 33.08, 33.38, 27.1506, 77400, 'AGM', datetime.date(2013, 1, 2)),
 (29.61,
  30.28,
  29.4,
  30.22,
  30.22,
  7589700,
  'AGNC',
  datetime.date(2013, 1, 2)),
 (14.55,
  14.7,
  14.39,
  14.7,
  12.7508,
  1225400,
  'AGO',
  datetime.date(2013, 1, 2)),
 (8.58, 8.75, 8.49, 8.68, 8.68, 176200, 'AGRO', datetime.date(2013, 1, 2)),
 (18.35,
  18.63,
  18.2,
  18.56,
  15.2328,
  126600,
  'AGX',
  datetime.date(2013, 1, 2)),
 (8.49, 8.6, 8.37, 8.55, 8.55, 62100, 'AGYS', datetime.date(2013, 1, 2)),
 (4.72, 4.9, 4.72, 4.9, 2.1673, 37900, 'AHC', datetime.date(2013, 1, 2)),
 (5.3, 5.3, 5.2, 5.3, 5.3, 2000, 'AHPI', datetime.date(2013, 1, 2)),
 (66.6314,
  68.8858,
  66.5688,
  68.6353,
  42.4035,
  141500,
  'AHT',
  datetime.date(2013, 1, 2)),
 (21.24, 21.72, 21.24, 21.65, 7.1823, 169300, 'AI', datetime.date(2013, 1, 2)),
 (48.99,
  49.46,
  48.99,
  49.46,
  42.0312,
  16600,
  'AIA',
  datetime.date(2013, 1, 2)),
 (508.4973,
  508.4973,
  493.9688,
  495.4216,
  495.4216,
  0,
  'AIKI',
  datetime.date(2013, 1, 2)),
 (132.0, 137.28, 121.44, 132.0, 132.0, 6100, 'AIM', datetime.date(2013, 1, 2)),
 (19.12, 19.4, 18.92, 19.37, 17.94, 426600, 'AIR', datetime.date(2013, 1, 2)),
 (42.88,
  44.04,
  42.62,
  43.55,
  36.9197,
  367300,
  'AIT',
  datetime.date(2013, 1, 2)),
 (27.48,
  27.63,
  27.15,
  27.37,
  20.349,
  1574000,
  'AIV',
  datetime.date(2013, 1, 2)),
 (35.28,
  35.48,
  34.94,
  35.48,
  30.1921,
  537200,
  'AIZ',
  datetime.date(2013, 1, 2)),
 (35.15,
  35.51,
  34.97,
  35.5,
  28.5449,
  688200,
  'AJG',
  datetime.date(2013, 1, 2)),
 (9.43, 9.52, 9.25, 9.49, 9.49, 779200, 'AJRD', datetime.date(2013, 1, 2)),
 (41.86,
  42.53,
  41.8,
  42.16,
  42.16,
  2468800,
  'AKAM',
  datetime.date(2013, 1, 2)),
 (21.9, 21.96, 21.75, 21.96, 20.3917, 338900, 'AL', datetime.date(2013, 1, 2)),
 (2.9, 2.9, 2.9, 2.9, 2.9, 0, 'ALACR', datetime.date(2013, 1, 2)),
 (63.69,
  64.72,
  63.69,
  64.3,
  56.4516,
  568100,
  'ALB',
  datetime.date(2013, 1, 2)),
 (72.6, 72.6, 69.0, 70.2, 70.2, 3000, 'ALBO', datetime.date(2013, 1, 2)),
 (36.93,
  39.99,
  36.93,
  39.6,
  37.1127,
  29000,
  'ALCO',
  datetime.date(2013, 1, 2)),
 (41.56,
  42.22,
  41.39,
  42.16,
  32.1152,
  301200,
  'ALE',
  datetime.date(2013, 1, 2)),
 (29.81,
  29.88,
  29.13,
  29.86,
  17.8679,
  319900,
  'ALEX',
  datetime.date(2013, 1, 2)),
 (33.39, 34.2, 33.12, 34.1, 32.6713, 54000, 'ALG', datetime.date(2013, 1, 2)),
 (28.57, 28.7, 28.0, 28.4, 28.4, 847900, 'ALGN', datetime.date(2013, 1, 2)),
 (74.48,
  75.86,
  74.24,
  75.48,
  65.9841,
  123100,
  'ALGT',
  datetime.date(2013, 1, 2)),
 (0.7, 0.7, 0.7, 0.7, 0.7, 13500, 'ALJJ', datetime.date(2013, 1, 2)),
 (22.015,
  22.11,
  21.8,
  21.97,
  19.5925,
  2173400,
  'ALK',
  datetime.date(2013, 1, 2)),
 (19.0, 19.3, 18.64, 19.28, 19.28, 1012000, 'ALKS', datetime.date(2013, 1, 2)),
 (40.9,
  41.17,
  40.65,
  41.16,
  35.4316,
  3176100,
  'ALL',
  datetime.date(2013, 1, 2)),
 (18.5, 19.42, 18.21, 18.28, 18.28, 853800, 'ALLT', datetime.date(2013, 1, 2)),
 (18.95,
  19.45,
  18.71,
  19.17,
  19.17,
  340100,
  'ALNY',
  datetime.date(2013, 1, 2)),
 (10.1, 10.3, 10.09, 10.2, 8.808, 16800, 'ALOT', datetime.date(2013, 1, 2)),
 (1.98, 2.03, 1.93, 1.93, 1.8409, 484700, 'ALSK', datetime.date(2013, 1, 2)),
 (20.78,
  20.8,
  20.45,
  20.8,
  18.1966,
  644800,
  'ALSN',
  datetime.date(2013, 1, 2)),
 (331.25,
  339.98,
  330.0,
  338.47,
  242.262,
  12400,
  'ALX',
  datetime.date(2013, 1, 2)),
 (96.15,
  100.06,
  96.01,
  100.05,
  100.05,
  2003700,
  'ALXN',
  datetime.date(2013, 1, 2)),
 (15.02,
  15.98,
  15.01,
  15.89,
  15.89,
  144100,
  'AMAG',
  datetime.date(2013, 1, 2)),
 (11.64,
  11.84,
  11.61,
  11.84,
  10.3092,
  12963700,
  'AMAT',
  datetime.date(2013, 1, 2)),
 (11.98,
  11.99,
  11.26,
  11.95,
  11.95,
  264200,
  'AMBA',
  datetime.date(2013, 1, 2)),
 (50.08, 51.24, 49.97, 51.0, 51.0, 552600, 'AMCX', datetime.date(2013, 1, 2)),
 (2.55, 2.57, 2.45, 2.53, 2.53, 27214800, 'AMD', datetime.date(2013, 1, 2)),
 (38.42,
  38.79,
  38.0,
  38.65,
  36.7114,
  1259700,
  'AME',
  datetime.date(2013, 1, 2)),
 (11.72,
  11.97,
  11.42,
  11.75,
  11.75,
  397300,
  'AMED',
  datetime.date(2013, 1, 2)),
 (4.6, 5.8, 3.7, 4.8, 4.8, 2500, 'AMEH', datetime.date(2013, 1, 2)),
 (133.55,
  134.85,
  132.98,
  134.85,
  130.7322,
  256500,
  'AMG',
  datetime.date(2013, 1, 2)),
 (87.36,
  89.24,
  87.29,
  89.15,
  73.6885,
  5772800,
  'AMGN',
  datetime.date(2013, 1, 2)),
 (4.35, 4.47, 4.33, 4.44, 4.44, 687500, 'AMKR', datetime.date(2013, 1, 2)),
 (11.92, 12.43, 11.9, 12.05, 12.05, 440200, 'AMN', datetime.date(2013, 1, 2)),
 (20.59,
  21.28,
  19.57,
  21.21,
  16.2103,
  31500,
  'AMNB',
  datetime.date(2013, 1, 2)),
 (6.6, 6.7, 6.59, 6.7, 6.4267, 3900, 'AMOT', datetime.date(2013, 1, 2)),
 (23.62, 23.62, 23.17, 23.3, 18.9227, 6900, 'AMOV', datetime.date(2013, 1, 2)),
 (3.55, 3.93, 3.5, 3.87, 3.87, 463000, 'AMPE', datetime.date(2013, 1, 2)),
 (70.2, 72.4, 70.2, 71.8, 20.7783, 44500, 'AMPY', datetime.date(2013, 1, 2)),
 (7.01, 7.25, 6.89, 6.95, 6.5271, 31700, 'AMRB', datetime.date(2013, 1, 2)),
 (10.13, 10.13, 9.86, 9.98, 9.98, 90100, 'AMRC', datetime.date(2013, 1, 2)),
 (8.23, 8.4, 8.07, 8.1, 8.1, 5527300, 'AMRN', datetime.date(2013, 1, 2)),
 (51.6, 53.4, 46.2, 48.0, 48.0, 60600, 'AMRS', datetime.date(2013, 1, 2)),
 (27.73,
  28.74,
  27.66,
  28.55,
  18.9934,
  142100,
  'AMSF',
  datetime.date(2013, 1, 2)),
 (7.98, 8.1, 7.83, 7.99, 5.8582, 130200, 'AMSWA', datetime.date(2013, 1, 2)),
 (78.39,
  79.05,
  78.24,
  79.05,
  68.5908,
  3119400,
  'AMT',
  datetime.date(2013, 1, 2)),
 (17.08,
  17.36,
  17.07,
  17.35,
  14.6117,
  2938700,
  'AMTD',
  datetime.date(2013, 1, 2)),
 (23.55, 23.55, 23.1, 23.33, 23.33, 6624900, 'AMX', datetime.date(2013, 1, 2)),
 (256.08,
  258.1,
  253.26,
  257.31,
  257.31,
  3271000,
  'AMZN',
  datetime.date(2013, 1, 2)),
 (40.2, 40.25, 38.93, 39.59, 39.59, 1377600, 'AN', datetime.date(2013, 1, 2)),
 (29.0733,
  29.48,
  28.76,
  29.32,
  25.3075,
  181300,
  'ANDE',
  datetime.date(2013, 1, 2)),
 (48.01, 48.7, 46.24, 47.56, 47.56, 3231600, 'ANF', datetime.date(2013, 1, 2)),
 (12.29,
  12.3,
  11.71,
  11.99,
  11.99,
  1164900,
  'ANGI',
  datetime.date(2013, 1, 2)),
 (27.0, 27.13, 26.95, 26.96, 17.4088, 1300, 'ANGL', datetime.date(2013, 1, 2)),
 (5.83, 5.93, 5.82, 5.9, 2.5173, 1508700, 'ANH', datetime.date(2013, 1, 2)),
 (10.12, 10.98, 10.0, 10.87, 10.87, 113300, 'ANIK', datetime.date(2013, 1, 2)),
 (7.5, 7.86, 7.5, 7.86, 7.86, 81300, 'ANIP', datetime.date(2013, 1, 2)),
 (4.5, 4.5, 4.25, 4.25, 4.25, 2200, 'ANIX', datetime.date(2013, 1, 2)),
 (68.54,
  70.05,
  68.33,
  70.05,
  70.05,
  345600,
  'ANSS',
  datetime.date(2013, 1, 2)),
 (10.05, 10.35, 10.0, 10.15, 10.15, 20700, 'ANTE', datetime.date(2013, 1, 2)),
 (61.08,
  61.89,
  60.44,
  60.92,
  54.0337,
  2309600,
  'ANTM',
  datetime.date(2013, 1, 2)),
 (8.93, 8.95, 8.51, 8.54, 8.54, 4875000, 'AOBC', datetime.date(2013, 1, 2)),
 (8.2, 8.28, 8.18, 8.26, 4.2722, 790800, 'AOD', datetime.date(2013, 1, 2)),
 (56.25,
  57.43,
  55.98,
  57.43,
  52.6391,
  2398300,
  'AON',
  datetime.date(2013, 1, 2)),
 (16.1025,
  16.4325,
  16.0425,
  16.1525,
  13.742,
  2003600,
  'AOS',
  datetime.date(2013, 1, 2)),
 (8.64, 9.0, 8.37, 8.99, 8.99, 65200, 'AOSL', datetime.date(2013, 1, 2)),
 (20.23, 21.02, 19.85, 20.87, 17.5537, 49700, 'AP', datetime.date(2013, 1, 2)),
 (80.0, 80.75, 79.53, 80.74, 80.74, 3468800, 'APA', datetime.date(2013, 1, 2)),
 (79.0564,
  79.5005,
  78.6679,
  79.4265,
  64.6324,
  1312800,
  'APD',
  datetime.date(2013, 1, 2)),
 (528.0, 552.0, 504.0, 552.0, 552.0, 500, 'APDN', datetime.date(2013, 1, 2)),
 (388.85,
  402.71,
  385.0,
  395.78,
  395.78,
  400,
  'APEN',
  datetime.date(2013, 1, 2)),
 (416.4,
  416.4,
  400.8,
  414.3,
  399.5011,
  1800,
  'APEX',
  datetime.date(2013, 1, 2)),
 (32.945,
  34.04,
  32.885,
  34.04,
  31.2076,
  2546000,
  'APH',
  datetime.date(2013, 1, 2)),
 (17.77, 17.99, 17.72, 17.93, 17.93, 539400, 'APO', datetime.date(2013, 1, 2)),
 (24.53,
  24.92,
  24.28,
  24.58,
  21.9325,
  237300,
  'APOG',
  datetime.date(2013, 1, 2)),
 (3.75, 4.0, 3.75, 3.95, 3.95, 5100, 'APPS', datetime.date(2013, 1, 2)),
 (3.6, 3.6, 3.6, 3.6, 3.6, 0, 'APTO', datetime.date(2013, 1, 2)),
 (7.8, 7.9, 7.72, 7.89, 4.5537, 12400, 'APTS', datetime.date(2013, 1, 2)),
 (32.7242,
  32.8919,
  32.4141,
  32.5901,
  29.2182,
  4657300,
  'APTV',
  datetime.date(2013, 1, 2)),
 (3.4, 3.4, 3.35, 3.35, 3.1438, 17000, 'APWC', datetime.date(2013, 1, 2)),
 (6.6, 6.73, 6.53, 6.65, 6.65, 614400, 'ARAY', datetime.date(2013, 1, 2)),
 (2.68, 2.8, 2.68, 2.78, 2.7201, 244200, 'ARC', datetime.date(2013, 1, 2)),
 (9.74, 10.06, 9.61, 9.72, 8.9907, 322700, 'ARCB', datetime.date(2013, 1, 2)),
 (17.75,
  17.81,
  17.6,
  17.73,
  8.4227,
  1388400,
  'ARCC',
  datetime.date(2013, 1, 2)),
 (12.39,
  12.48,
  12.16,
  12.31,
  11.0986,
  3657100,
  'ARCO',
  datetime.date(2013, 1, 2)),
 (20.0, 20.07, 20.0, 20.01, 10.1965, 28500, 'ARDC', datetime.date(2013, 1, 2)),
 (70.41,
  70.66,
  69.77,
  70.63,
  55.3889,
  505300,
  'ARE',
  datetime.date(2013, 1, 2)),
 (24.98,
  24.98,
  24.75,
  24.92,
  16.5767,
  49200,
  'ARGD',
  datetime.date(2013, 1, 2)),
 (22.3696,
  22.5394,
  21.9057,
  22.5329,
  22.5329,
  198900,
  'ARGO',
  datetime.date(2013, 1, 2)),
 (16.51,
  16.85,
  16.49,
  16.84,
  7.6214,
  402300,
  'ARI',
  datetime.date(2013, 1, 2)),
 (2.79, 2.93, 2.79, 2.93, 2.93, 1000, 'ARL', datetime.date(2013, 1, 2)),
 (29.325,
  30.355,
  29.275,
  30.23,
  14.9385,
  319200,
  'ARLP',
  datetime.date(2013, 1, 2)),
 (1260.0,
  1260.0,
  1260.0,
  1260.0,
  1260.0,
  0,
  'ARMP',
  datetime.date(2013, 1, 2)),
 (91.3, 92.2, 89.0, 90.1, 90.1, 835400, 'ARNA', datetime.date(2013, 1, 2)),
 (22.58,
  22.58,
  22.01,
  22.37,
  16.1802,
  712600,
  'AROC',
  datetime.date(2013, 1, 2)),
 (21.6711,
  21.9039,
  21.6107,
  21.8522,
  16.8227,
  43200,
  'AROW',
  datetime.date(2013, 1, 2)),
 (52.88, 54.32, 52.72, 54.24, 28.2, 1104600, 'ARR', datetime.date(2013, 1, 2)),
 (5.77, 5.8, 5.62, 5.78, 5.6241, 9100, 'ARTW', datetime.date(2013, 1, 2)),
 (39.12, 39.77, 39.12, 39.72, 39.72, 884600, 'ARW', datetime.date(2013, 1, 2)),
 (2.16, 2.18, 2.07, 2.1, 2.1, 65100, 'ARWR', datetime.date(2013, 1, 2)),
 (21.89,
  22.35,
  21.89,
  22.29,
  21.5668,
  141700,
  'ASA',
  datetime.date(2013, 1, 2)),
 (9.6, 9.82, 9.47, 9.55, 4.3852, 52000, 'ASFI', datetime.date(2013, 1, 2)),
 (4.13, 4.16, 4.11, 4.15, 2.2623, 86300, 'ASG', datetime.date(2013, 1, 2)),
 (21.02, 22.05, 21.01, 22.0, 22.0, 1159000, 'ASGN', datetime.date(2013, 1, 2)),
 (40.2446,
  41.453,
  40.2446,
  41.3454,
  34.7625,
  2689200,
  'ASH',
  datetime.date(2013, 1, 2)),
 (1.95, 1.95, 1.84, 1.93, 1.93, 59400, 'ASM', datetime.date(2013, 1, 2)),
 (11.1, 12.1, 11.1, 11.95, 11.95, 17500, 'ASMB', datetime.date(2013, 1, 2)),
 (65.98,
  66.78,
  65.78,
  66.78,
  61.7394,
  1824000,
  'ASML',
  datetime.date(2013, 1, 2)),
 (87.62,
  89.38,
  86.66,
  87.76,
  87.76,
  223900,
  'ASPS',
  datetime.date(2013, 1, 2)),
 (6.31, 6.43, 6.27, 6.38, 6.38, 332600, 'ASRT', datetime.date(2013, 1, 2)),
 (3.03, 3.06, 2.9, 3.06, 2.693, 57200, 'ASRV', datetime.date(2013, 1, 2)),
 (25.5, 26.29, 25.5, 26.29, 14.8009, 600, 'ASRVP', datetime.date(2013, 1, 2)),
 (4.6, 4.6, 4.4, 4.5, 4.5, 6300, 'ASTC', datetime.date(2013, 1, 2)),
 (34.37,
  35.04,
  33.79,
  35.03,
  32.4851,
  184100,
  'ASTE',
  datetime.date(2013, 1, 2)),
 (5.94, 5.96, 5.75, 5.88, 5.88, 10800, 'ASUR', datetime.date(2013, 1, 2)),
 (3.26, 3.4, 3.24, 3.39, 3.39, 42600, 'ASYS', datetime.date(2013, 1, 2)),
 (1.1589,
  1.1589,
  1.1028,
  1.1028,
  0.6406,
  120054,
  'ATCO',
  datetime.date(2013, 1, 2)),
 (20.4, 21.24, 20.16, 20.64, 20.64, 25600, 'ATEC', datetime.date(2013, 1, 2)),
 (24.17,
  24.41,
  23.5,
  23.82,
  22.7158,
  992700,
  'ATGE',
  datetime.date(2013, 1, 2)),
 (1.1, 1.15, 1.07, 1.15, 1.15, 361900, 'ATHX', datetime.date(2013, 1, 2)),
 (31.45,
  31.78,
  30.97,
  31.56,
  28.9247,
  1478100,
  'ATI',
  datetime.date(2013, 1, 2)),
 (21.63,
  22.91,
  21.5,
  22.39,
  17.2687,
  47800,
  'ATLO',
  datetime.date(2013, 1, 2)),
 (37.69,
  37.69,
  35.64,
  36.18,
  31.8515,
  65200,
  'ATNI',
  datetime.date(2013, 1, 2)),
 (45.0, 45.0, 45.0, 45.0, 45.0, 0, 'ATNM', datetime.date(2013, 1, 2)),
 (35.61,
  35.86,
  35.53,
  35.77,
  29.1517,
  367500,
  'ATO',
  datetime.date(2013, 1, 2)),
 (718.2, 718.2, 678.6, 684.0, 684.0, 0, 'ATOS', datetime.date(2013, 1, 2)),
 (48.95,
  48.99,
  48.14,
  48.76,
  43.258,
  261500,
  'ATR',
  datetime.date(2013, 1, 2)),
 (6.94, 7.19, 6.87, 7.14, 7.14, 109900, 'ATRC', datetime.date(2013, 1, 2)),
 (198.53,
  205.5,
  198.53,
  202.04,
  188.842,
  3900,
  'ATRI',
  datetime.date(2013, 1, 2)),
 (10.0817,
  10.7038,
  9.7238,
  10.4865,
  10.4865,
  218500,
  'ATRO',
  datetime.date(2013, 1, 2)),
 (3.87, 3.96, 3.83, 3.89, 3.89, 1120700, 'ATRS', datetime.date(2013, 1, 2)),
 (4.13, 4.26, 4.13, 4.26, 4.26, 223700, 'ATSG', datetime.date(2013, 1, 2)),
 (15.9333, 16.4, 15.9333, 16.4, 4.0155, 300, 'ATV', datetime.date(2013, 1, 2)),
 (10.85,
  10.95,
  10.75,
  10.95,

In [42]:
start = "2013-05-01"
end = "2020-10-20"
symb ='VZ'
conn = psycopg2.connect(host="slave",
                        database="postgres",
                        user="postgres",
                        password="reallyStrongPwd123")
cursor = conn.cursor()
query2 = f""" SELECT * from saffron."stockdata" where symbol='{ss}' and date between '{start}' AND '{end}' """
df = pd.read_sql_query(query2, con=conn)
df.set_index("date", inplace=True)
df.shape

(17, 7)

(17, 7)

In [25]:


params_ta = [    {"kind":"squeeze"},]
params_ta_strategy = ta.Strategy(
    "EMA, MACD History, Outter BBands, Log Returns", # name
    params_ta, # ta
    "EMA, MACD History, BBands(LB, UB), and Log Returns Strategy" # description
)

df.ta.strategy(params_ta_strategy, timed=False)

In [26]:
df

,open,high,low,close,adj_close,volume,symbol,SQZ_20_2.0_20_1.5,SQZ_ON,SQZ_OFF,SQZ_NO
date,,,,,,,,,,,
2020-09-28,59.560001,59.799999,59.180000,59.360001,58.734634,11910500,VZ,NaN,0,0,1
2020-09-29,59.279999,59.490002,59.099998,59.240002,58.615902,10005900,VZ,NaN,0,0,1
2020-09-30,59.459999,59.709999,59.049999,59.490002,58.863266,16347800,VZ,NaN,0,0,1
2020-10-01,59.400002,59.599998,59.029999,59.450001,58.823689,14547100,VZ,NaN,0,0,1
2020-10-02,59.290001,59.549999,59.110001,59.240002,58.615902,10741800,VZ,NaN,0,0,1
2020-10-05,59.630001,59.840000,59.259998,59.660000,59.031475,10457400,VZ,NaN,0,0,1
2020-10-06,59.759998,59.970001,59.330002,59.459999,58.833580,12524900,VZ,NaN,0,0,1
2020-10-07,59.619999,59.779999,59.200001,59.610001,58.982002,13674700,VZ,NaN,0,0,1
2020-10-08,59.119999,59.730000,58.970001,59.189999,59.189999,14266400,VZ,NaN,0,0,1
2020-10-09,59.250000,59.540001,59.080002,59.330002,59.330002,9846200,VZ,NaN,0,0,1
2020-10-12,59.330002,59.680000,59.150002,59.549999,59.549999,20211200,VZ,NaN,0,0,1
2020-10-13,59.700001,59.720001,58.849998,59.360001,59.360001,22109600,VZ,NaN,0,0,1
2020-10-14,59.459999,59.520000,58.389999,58.430000,58.430000,16596700,VZ,NaN,0,0,1
2020-10-15,58.110001,58.279999,57.720001,58.160000,58.160000,13644500,VZ,NaN,0,0,1
2020-10-16,58.080002,58.430000,58.009998,58.049999,58.049999,13364200,VZ,NaN,0,0,1
2020-10-19,58.150002,58.290001,57.080002,57.299999,57.299999,16067000,VZ,NaN,0,0,1
2020-10-20,57.540001,57.669998,56.759998,57.250000,57.250000,18685000,VZ,NaN,0,0,1

In [18]:
pd.read_sql("""select * from saffron."security" where symbol='VZ' """, con=conn)

,id,sp500,name,symbol,amex,nasdaq,marketcap,sector,industry,nyse,ipoyear
0,None,True,Verizon Communications Inc.,VZ,true,None,"$223,330.00",Public Utilities,Telecommunications Equipment,None,0

In [5]:
watch.ds

Engine(postgresql://postgres:***@192.168.0.108/postgres)

In [ ]:
from watchlist import Watchlist

for symb in selected_symbs:
    watch = Watchlist(tickers=[symb],ds=engine)
    print(symb)
    watch.strategy = momo_bands_sma_strategy
    fb = watch.load(symb)
    # Apply constants to the DataFrame for indicators
#     fb.ta.constants(True, [0, 30, 70])
    sss = fb.tail()['SQZ_ON'].sum()
    if sss>0:
        print(symb)

In [101]:
fb.tail()['SQZ_ON'].sum()

0

In [97]:
fb[['SQZ_20_2.0_20_1.5', 'SQZ_ON', 'SQZ_OFF', 'SQZ_NO']]

      SQZ_20_2.0_20_1.5  SQZ_ON  SQZ_OFF  SQZ_NO
0                   NaN       0        0       1
1                   NaN       0        0       1
2                   NaN       0        0       1
3                   NaN       0        0       1
4                   NaN       0        0       1
...                 ...     ...      ...     ...
1960           9.071667       0        1       0
1961          10.143332       0        1       0
1962          12.341666       0        1       0
1963          13.338334       0        1       0
1964          11.849999       0        1       0

[1965 rows x 4 columns]

# Additional Strategy Options

The params keyword takes a tuple as a shorthand to the parameter arguments in order.

Note: If the indicator arguments change, so will results. Breaking Changes will always be posted on the README.
The col_numbers keyword takes a tuple specifying which column to return if the result is a DataFrame.

In [23]:
params_ta = [
    {"kind":"ema", "params": (10,)},
    # params sets MACD's keyword arguments: fast=9, slow=19, signal=10
    # and returning the 2nd column: histogram
    {"kind":"macd", "params": (9, 19, 10), "col_numbers": (1,)},
    # Selects the Lower and Upper Bands and renames them LB and UB, ignoring the MB
    {"kind":"bbands", "col_numbers": (0,2), "col_names": ("LB", "UB")},
    {"kind":"log_return", "params": (5, False)},
]
params_ta_strategy = ta.Strategy(
    "EMA, MACD History, Outter BBands, Log Returns", # name
    params_ta, # ta
    "EMA, MACD History, BBands(LB, UB), and Log Returns Strategy" # description
)

# Update the Watchlist
watch.strategy = params_ta_strategy
watch.load("FB")

import FB
True

,open,high,low,close,adj_close,volume,symbol,date,EMA_10,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,BBL_5_2.0,BBM_5_2.0,BBU_5_2.0,LOGRET_1
0,27.44,28.18,27.42,28.00,28.00,69846400,FB,2013-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,27.88,28.47,27.59,27.77,27.77,63140600,FB,2013-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.008248
2,28.01,28.93,27.83,28.76,28.76,72715400,FB,2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.035029
3,28.69,29.79,28.65,29.42,29.42,83781800,FB,2013-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.022689
4,29.51,29.60,28.86,29.06,29.06,45871300,FB,2013-01-08,NaN,NaN,NaN,NaN,27.202543,28.602,30.001457,-0.012312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1943,246.50,252.24,245.62,249.53,249.53,20006800,FB,2020-09-24,263.759327,-2.324267,-4.803691,2.479424,242.753154,257.402,272.050846,-0.020978
1944,247.54,249.95,244.13,248.15,248.15,24709400,FB,2020-09-21,260.921268,-3.529477,-4.807121,1.277644,241.575479,253.710,265.844521,-0.005546
1945,255.26,257.99,248.15,249.02,249.02,19641300,FB,2020-09-23,258.757401,-4.364106,-4.513399,0.149294,240.147740,253.008,265.868260,0.003500
1946,253.31,255.32,248.22,254.75,254.75,30293100,FB,2020-09-22,258.028782,-4.511190,-3.728387,-0.782803,244.732028,251.254,257.775972,0.022749
1947,249.40,255.75,246.61,254.82,254.82,18336400,FB,2020-09-25,257.445367,-4.569433,-3.029304,-1.540129,244.732028,251.254,257.775972,0.000275

# Pytorch

In [39]:
start = "2014-01-01"
end = "2020-08-20"
conn = psycopg2.connect(host="slave",
                        database="postgres",
                        user="postgres",
                        password="reallyStrongPwd123")
cursor = conn.cursor()
symbols = ("MSFT", "GOOGL", "FB")
query2 = f""" SELECT * from saffron."daily_price" where symbol in {symbols} and date between '{start}' AND '{end}' """
df = pd.read_sql_query(query2, con=conn)
df.set_index(["date", "symbol"], inplace=True)
df = df.unstack()
df.columns = df.columns.values
y= df[('high', 'FB')].shift(1)
x=df.drop(('high', 'FB'),axis=1)
y = y.fillna(0)

N, D_in, D_out = 100, df.shape[1]-1, 1
class LinearRegression(nn.Module):
    def __init__(self, input_size, output_size):
        super(LinearRegression, self).__init__()
        self.linear = nn.Linear(input_size,output_size)
    
    def forward(self, X):
        out = self.linear(X)
        return out
model = LinearRegression(D_in, D_out)
criterion = nn.MSELoss()
optimizer = torch.optim.SGD(model.parameters(), lr = 1e-5)
for epoch in range(100):
    inputs = Variable(torch.from_numpy( x.values)).float()
    labels = Variable(torch.from_numpy( y.values)).float()
    optimizer.zero_grad()

    outputs = model(inputs)

    loss = criterion(outputs,labels)
    loss.backward()
    optimizer.step()

In [25]:
inputs.shape

torch.Size([1671, 17])

In [44]:
    predicted = model(Variable(torch.from_numpy(x.values)).float())

In [43]:
with torch.no_grad():
    predicted = model(Variable(torch.from_numpy(x.values)).float())
    print(predicted)

tensor([[nan],
        [nan],
        [nan],
        ...,
        [nan],
        [nan],
        [nan]])

In [38]:
loss

tensor(1.1586e+14, grad_fn=<MseLossBackward>)

In [47]:
# create dummy data for training
x_values = [i for i in range(11)]
x_train = np.array(x_values, dtype=np.float32)
x_train = x_train.reshape(-1, 1)

y_values = [2*i + 1 for i in x_values]
y_train = np.array(y_values, dtype=np.float32)
y_train = y_train.reshape(-1, 1)
class linearRegression(torch.nn.Module):
    def __init__(self, inputSize, outputSize):
        super(linearRegression, self).__init__()
        self.linear = torch.nn.Linear(inputSize, outputSize)

    def forward(self, x):
        out = self.linear(x)
        return out
inputDim = 1        # takes variable 'x' 
outputDim = 1       # takes variable 'y'
learningRate = 0.01 
epochs = 100

model = linearRegression(inputDim, outputDim)
##### For GPU #######
if torch.cuda.is_available():
    model.cuda()
criterion = torch.nn.MSELoss() 
optimizer = torch.optim.SGD(model.parameters(), lr=learningRate)
for epoch in range(epochs):
    # Converting inputs and labels to Variable
    if torch.cuda.is_available():
        inputs = Variable(torch.from_numpy(x_train).cuda())
        labels = Variable(torch.from_numpy(y_train).cuda())
    else:
        inputs = Variable(torch.from_numpy(x_train))
        labels = Variable(torch.from_numpy(y_train))

    # Clear gradient buffers because we don't want any gradient from previous epoch to carry forward, dont want to cummulate gradients
    optimizer.zero_grad()

    # get output from the model, given the inputs
    outputs = model(inputs)

    # get loss for the predicted output
    loss = criterion(outputs, labels)
    print(loss)
    # get gradients w.r.t to parameters
    loss.backward()

    # update parameters
    optimizer.step()

    print('epoch {}, loss {}'.format(epoch, loss.item()))

tensor(128.7580, grad_fn=<MseLossBackward>)
epoch 0, loss 128.7580108642578
tensor(10.5120, grad_fn=<MseLossBackward>)
epoch 1, loss 10.5120267868042
tensor(0.8670, grad_fn=<MseLossBackward>)
epoch 2, loss 0.8669695258140564
tensor(0.0801, grad_fn=<MseLossBackward>)
epoch 3, loss 0.08014492690563202
tensor(0.0159, grad_fn=<MseLossBackward>)
epoch 4, loss 0.015860892832279205
tensor(0.0105, grad_fn=<MseLossBackward>)
epoch 5, loss 0.010513232089579105
tensor(0.0100, grad_fn=<MseLossBackward>)
epoch 6, loss 0.00997408851981163
tensor(0.0098, grad_fn=<MseLossBackward>)
epoch 7, loss 0.009828353300690651
tensor(0.0097, grad_fn=<MseLossBackward>)
epoch 8, loss 0.009715796448290348
tensor(0.0096, grad_fn=<MseLossBackward>)
epoch 9, loss 0.009606998413801193
tensor(0.0095, grad_fn=<MseLossBackward>)
epoch 10, loss 0.009499729610979557
tensor(0.0094, grad_fn=<MseLossBackward>)
epoch 11, loss 0.009393606334924698
tensor(0.0093, grad_fn=<MseLossBackward>)
epoch 12, loss 0.00928875058889389
tensor(0.0092, grad_fn=<MseLossBackward>)
epoch 13, loss 0.009185021743178368
tensor(0.0091, grad_fn=<MseLossBackward>)
epoch 14, loss 0.00908241979777813
tensor(0.0090, grad_fn=<MseLossBackward>)
epoch 15, loss 0.008981051854789257
tensor(0.0089, grad_fn=<MseLossBackward>)
epoch 16, loss 0.00888073816895485
tensor(0.0088, grad_fn=<MseLossBackward>)
epoch 17, loss 0.008781605400145054
tensor(0.0087, grad_fn=<MseLossBackward>)
epoch 18, loss 0.008683527819812298
tensor(0.0086, grad_fn=<MseLossBackward>)
epoch 19, loss 0.008586570620536804
tensor(0.0085, grad_fn=<MseLossBackward>)
epoch 20, loss 0.00849066860973835
tensor(0.0084, grad_fn=<MseLossBackward>)
epoch 21, loss 0.008395860902965069
tensor(0.0083, grad_fn=<MseLossBackward>)
epoch 22, loss 0.008302085101604462
tensor(0.0082, grad_fn=<MseLossBackward>)
epoch 23, loss 0.00820935983210802
tensor(0.0081, grad_fn=<MseLossBackward>)
epoch 24, loss 0.00811772234737873
tensor(0.0080, grad_fn=<MseLossBackward>)
epoch 25, loss 0.008027071133255959
tensor(0.0079, grad_fn=<MseLossBackward>)
epoch 26, loss 0.007937457412481308
tensor(0.0078, grad_fn=<MseLossBackward>)
epoch 27, loss 0.007848788052797318
tensor(0.0078, grad_fn=<MseLossBackward>)
epoch 28, loss 0.007761133834719658
tensor(0.0077, grad_fn=<MseLossBackward>)
epoch 29, loss 0.007674464490264654
tensor(0.0076, grad_fn=<MseLossBackward>)
epoch 30, loss 0.0075887637212872505
tensor(0.0075, grad_fn=<MseLossBackward>)
epoch 31, loss 0.007504050619900227
tensor(0.0074, grad_fn=<MseLossBackward>)
epoch 32, loss 0.0074202255345880985
tensor(0.0073, grad_fn=<MseLossBackward>)
epoch 33, loss 0.007337347138673067
tensor(0.0073, grad_fn=<MseLossBackward>)
epoch 34, loss 0.007255473639816046
tensor(0.0072, grad_fn=<MseLossBackward>)
epoch 35, loss 0.0071744234301149845
tensor(0.0071, grad_fn=<MseLossBackward>)
epoch 36, loss 0.00709434924647212
tensor(0.0070, grad_fn=<MseLossBackward>)
epoch 37, loss 0.0070151062682271
tensor(0.0069, grad_fn=<MseLossBackward>)
epoch 38, loss 0.006936777848750353
tensor(0.0069, grad_fn=<MseLossBackward>)
epoch 39, loss 0.006859269458800554
tensor(0.0068, grad_fn=<MseLossBackward>)
epoch 40, loss 0.006782672833651304
tensor(0.0067, grad_fn=<MseLossBackward>)
epoch 41, loss 0.006706990767270327
tensor(0.0066, grad_fn=<MseLossBackward>)
epoch 42, loss 0.006632054224610329
tensor(0.0066, grad_fn=<MseLossBackward>)
epoch 43, loss 0.0065579949878156185
tensor(0.0065, grad_fn=<MseLossBackward>)
epoch 44, loss 0.006484786048531532
tensor(0.0064, grad_fn=<MseLossBackward>)
epoch 45, loss 0.006412321235984564
tensor(0.0063, grad_fn=<MseLossBackward>)
epoch 46, loss 0.006340759806334972
tensor(0.0063, grad_fn=<MseLossBackward>)
epoch 47, loss 0.00626993365585804
tensor(0.0062, grad_fn=<MseLossBackward>)
epoch 48, loss 0.00619991822168231
tensor(0.0061, grad_fn=<MseLossBackward>)
epoch 49, loss 0.00613071583211422
tensor(0.0061, grad_fn=<MseLossBackward>)
epoch 50, loss 0.0060622673481702805
tensor(0.0060, grad_fn=<MseLossBackward>)
epoch 51, loss 0.005994541570544243
tensor(0.0059, grad_fn=<MseLossBackward>)
epoch 52, loss 0.005927566904574633
tensor(0.0059, grad_fn=<MseLossBackward>)
epoch 53, loss 0.005861407611519098
tensor(0.0058, grad_fn=<MseLossBackward>)
epoch 54, loss 0.005795991513878107
tensor(0.0057, grad_fn=<MseLossBackward>)
epoch 55, loss 0.005731245968490839
tensor(0.0057, grad_fn=<MseLossBackward>)
epoch 56, loss 0.005667222198098898
tensor(0.0056, grad_fn=<MseLossBackward>)
epoch 57, loss 0.005603942088782787
tensor(0.0055, grad_fn=<MseLossBackward>)
epoch 58, loss 0.005541377700865269
tensor(0.0055, grad_fn=<MseLossBackward>)
epoch 59, loss 0.0054795038886368275
tensor(0.0054, grad_fn=<MseLossBackward>)
epoch 60, loss 0.005418301094323397
tensor(0.0054, grad_fn=<MseLossBackward>)
epoch 61, loss 0.005357787478715181
tensor(0.0053, grad_fn=<MseLossBackward>)
epoch 62, loss 0.005297947209328413
tensor(0.0052, grad_fn=<MseLossBackward>)
epoch 63, loss 0.005238817539066076
tensor(0.0052, grad_fn=<MseLossBackward>)
epoch 64, loss 0.005180298816412687
tensor(0.0051, grad_fn=<MseLossBackward>)
epoch 65, loss 0.0051224688068032265
tensor(0.0051, grad_fn=<MseLossBackward>)
epoch 66, loss 0.005065246485173702
tensor(0.0050, grad_fn=<MseLossBackward>)
epoch 67, loss 0.0050087179988622665
tensor(0.0050, grad_fn=<MseLossBackward>)
epoch 68, loss 0.004952752031385899
tensor(0.0049, grad_fn=<MseLossBackward>)
epoch 69, loss 0.00489745894446969
tensor(0.0048, grad_fn=<MseLossBackward>)
epoch 70, loss 0.004842773545533419
tensor(0.0048, grad_fn=<MseLossBackward>)
epoch 71, loss 0.004788689780980349
tensor(0.0047, grad_fn=<MseLossBackward>)
epoch 72, loss 0.004735197406262159
tensor(0.0047, grad_fn=<MseLossBackward>)
epoch 73, loss 0.004682349041104317
tensor(0.0046, grad_fn=<MseLossBackward>)
epoch 74, loss 0.004630046896636486
tensor(0.0046, grad_fn=<MseLossBackward>)
epoch 75, loss 0.0045783319510519505
tensor(0.0045, grad_fn=<MseLossBackward>)
epoch 76, loss 0.004527213051915169
tensor(0.0045, grad_fn=<MseLossBackward>)
epoch 77, loss 0.004476678557693958
tensor(0.0044, grad_fn=<MseLossBackward>)
epoch 78, loss 0.004426665138453245
tensor(0.0044, grad_fn=<MseLossBackward>)
epoch 79, loss 0.004377223085612059
tensor(0.0043, grad_fn=<MseLossBackward>)
epoch 80, loss 0.004328374285250902
tensor(0.0043, grad_fn=<MseLossBackward>)
epoch 81, loss 0.00428001768887043
tensor(0.0042, grad_fn=<MseLossBackward>)
epoch 82, loss 0.004232227336615324
tensor(0.0042, grad_fn=<MseLossBackward>)
epoch 83, loss 0.00418495386838913
tensor(0.0041, grad_fn=<MseLossBackward>)
epoch 84, loss 0.004138266667723656
tensor(0.0041, grad_fn=<MseLossBackward>)
epoch 85, loss 0.004092030227184296
tensor(0.0040, grad_fn=<MseLossBackward>)
epoch 86, loss 0.004046339076012373
tensor(0.0040, grad_fn=<MseLossBackward>)
epoch 87, loss 0.004001127555966377
tensor(0.0040, grad_fn=<MseLossBackward>)
epoch 88, loss 0.00395646458491683
tensor(0.0039, grad_fn=<MseLossBackward>)
epoch 89, loss 0.0039122807793319225
tensor(0.0039, grad_fn=<MseLossBackward>)
epoch 90, loss 0.003868628991767764
tensor(0.0038, grad_fn=<MseLossBackward>)
epoch 91, loss 0.0038253848906606436
tensor(0.0038, grad_fn=<MseLossBackward>)
epoch 92, loss 0.003782691666856408
tensor(0.0037, grad_fn=<MseLossBackward>)
epoch 93, loss 0.00374044943600893
tensor(0.0037, grad_fn=<MseLossBackward>)
epoch 94, loss 0.003698707325384021
tensor(0.0037, grad_fn=<MseLossBackward>)
epoch 95, loss 0.0036573901306837797
tensor(0.0036, grad_fn=<MseLossBackward>)
epoch 96, loss 0.0036165579222142696
tensor(0.0036, grad_fn=<MseLossBackward>)
epoch 97, loss 0.003576137125492096
tensor(0.0035, grad_fn=<MseLossBackward>)
epoch 98, loss 0.003536197356879711
tensor(0.0035, grad_fn=<MseLossBackward>)
epoch 99, loss 0.0034967265091836452