In [26]:
import psycopg2
from sqlalchemy import create_engine
conn = psycopg2.connect(
    host="localhost",
    port=5432,  # Change from 5433 to 5432
    database="postgres",
    user="admin",
    password="lohraspco"
)
engine = create_engine(f"postgresql+psycopg2://admin:lohraspco@localhost:5432/postgres")

:

In [13]:
import pandas as pd

In [28]:

# Dictionary of files and table definitions
files_and_schemas = {
    # "tag.csv": """
    #     CREATE TABLE IF NOT EXISTS saffron.tag (
    #         userId INT,
    #         movieId INT,
    #         tag TEXT,
    #         timestamp TIMESTAMP
    #     );
    # """,
    # "genome_scores.csv": """
    #     CREATE TABLE IF NOT EXISTS saffron.genome_scores (
    #         movieId INT,
    #         tagId INT,
    #         relevance FLOAT
    #     );
    # """,
    "rating.csv": """
        CREATE TABLE IF NOT EXISTS saffron.rating (
            userId INT,
            movieId INT,
            rating FLOAT,
            timestamp TIMESTAMP
        );
    """,
    "movie.csv": """
        CREATE TABLE IF NOT EXISTS saffron.movie (
            movieId INT,
            title TEXT,
            genres TEXT
        );
    """,
    "link.csv": """
        CREATE TABLE IF NOT EXISTS saffron.link (
            movieId INT,
            imdbId INT,
            tmdbId INT 
        );
    """,
    "genome_tags.csv": """
        CREATE TABLE IF NOT EXISTS saffron.genome_tags (
            tagId INT,
            tag TEXT
        );
    """
}

# Step 1: Create a connection to PostgreSQL
# Step 2: Create tables and ingest data
def create_and_ingest(connection, engine, file_name, schema):
    try:
        cursor = connection.cursor()

        # Create table
        cursor.execute(schema)
        connection.commit()

        print(f"Table for {file_name} created successfully.")

        # Load CSV into DataFrame
        df = pd.read_csv(file_name)

        # Insert data into the table
        # for _, row in df.iterrows():
        #     insert_query = f"""
        #     INSERT INTO saffron.{file_name.split('.')[0]} ({", ".join(df.columns)}) 
        #     VALUES ({", ".join(['%s'] * len(row))});
        #     """
        #     cursor.execute(insert_query, tuple(row))

        # connection.commit()
        print(f"Data from '{file_name}' inserted successfully.")
    except Exception as e:
        print(f"Error processing {file_name}: {e}")
    finally:
        cursor.close()

In [32]:
conn.dsn

'user=admin password=xxx dbname=postgres host=localhost port=5432'

In [29]:
for file, schema in files_and_schemas.items():
    create_and_ingest(conn, file, schema)

Table for rating.csv created successfully.

KeyboardInterrupt:

In [19]:
conn.close()

In [3]:
import pandas as pd

df = pd.read_csv("spy.csv")

In [3]:
import psycopg2
conn = psycopg2.connect(
        host="192.168.0.108",
        database="postgres",
        user="postgres",
        password="reallyStrongPwd123")
cur = conn.cursor()

In [6]:
engine = create_engine(f"postgresql+psycopg2://admin:lohraspco@localhost:5432/postgres")

In [11]:
df["symbol"] = "spy"

In [12]:
df.to_sql(name='stocks', con=engine,if_exists='append', index=False )

256

In [ ]:

    for index, row in df.iterrows():
        insert_query = sql.SQL("""
            INSERT INTO stocks (symbol, date, stock_name, market, price, open, high, low, close, volume)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
            ON CONFLICT (symbol, date) DO UPDATE
            SET stock_name = EXCLUDED.stock_name,
                market = EXCLUDED.market,
                price = EXCLUDED.price,
                open = EXCLUDED.open,
                high = EXCLUDED.high,
                low = EXCLUDED.low,
                close = EXCLUDED.close,
                volume = EXCLUDED.volume;
        """)
        
        # Execute the query for each row
        cursor.execute(insert_query, (
            row['symbol'], row['date'], row['stock_name'], row['market'],
            row['price'], row['open'], row['high'], row['low'],
            row['close'], row['volume']
        ))

    # Commit the transaction

In [1]:
import pandas as pd

df = pd.read_csv("la_restaurants.csv")

In [ ]:
df.iloc[:2].to_sql()

In [ ]:
query = "INSERT INTO vendors(vendor_name) VALUES(%s)"

In [2]:
df.columns

Index(['ACTIVITY DATE', 'OWNER ID', 'OWNER NAME', 'FACILITY ID',
       'FACILITY NAME', 'RECORD ID', 'PROGRAM NAME', 'PROGRAM STATUS',
       'PROGRAM ELEMENT (PE)', 'PE DESCRIPTION', 'FACILITY ADDRESS',
       'FACILITY CITY', 'FACILITY STATE', 'FACILITY ZIP', 'SERVICE CODE',
       'SERVICE DESCRIPTION', 'SCORE', 'SERIAL NUMBER', 'EMPLOYEE ID'],
      dtype='object')

In [6]:
from io import StringIO

In [17]:
data = StringIO("""col_names
serial_number:
varchar
activity_date:
datetime
facility_name:
varchar
score:
int
grade:
varchar
service_code:
int
service_description:
varchar
employee_id:
varchar
facility_address:
varchar
facility_city:
varchar
facility_id:
varchar
facility_state:
varchar
facility_zip:
varchar
owner_id:
varchar
owner_name:
varchar
pe_description:
varchar
program_element_pe:
int
program_name:
varchar
program_status:
varchar
record_id:
varchar""")

In [18]:
df2 = pd.read_csv(data)
df3  = df2[0::2].assign(start=df2[::2].index)

In [ ]:
['serial_number:', 'activity_date:', 'facility_name:', 'score:',
       'grade:', 'service_code:', 'service_description:', 'employee_id:',
       'facility_address:', 'facility_city:', 'facility_id:',
       'facility_state:', 'facility_zip:', 'owner_id:', 'owner_name:',
       'pe_description:', 'program_element_pe:', 'program_name:',
       'program_status:', 'record_id:']

In [ ]:
[ 'SERIAL NUMBER','ACTIVITY DATE','FACILITY NAME', 'SCORE','SERVICE CODE',
       'SERVICE DESCRIPTION', 'EMPLOYEE ID', 'FACILITY ADDRESS',
       'FACILITY CITY','FACILITY ID', 'FACILITY STATE', 'FACILITY ZIP', 'OWNER ID', 'OWNER NAME', 
        'PE DESCRIPTION',  'PROGRAM ELEMENT (PE)', 'PROGRAM NAME', 'PROGRAM STATUS', 'RECORD ID' 
        ]

In [11]:
cur.execute("SELECT * FROM saffron.daily_price GROUP BY  ")
cur.fetchmany(2)

[(datetime.datetime(2018, 4, 25, 0, 0),
  'PNR',
  42.88638687133789,
  45.42646026611328,
  45.5674934387207,
  44.613834381103516,
  45.070518493652344,
  1470090,
  7449,
  1),
 (datetime.datetime(2018, 4, 25, 0, 0),
  'PNW',
  69.47084045410156,
  79.91999816894531,
  80.11000061035156,
  78.94000244140625,
  79.30999755859375,
  1088200,
  7451,
  1)]

# Delete duplicaties

In [12]:
cur.execute("""delete from saffron.security a 
    using saffron.security b
    where a.id<b.id
    and a.ticker = b.ticker""")

# Fetch data

In [17]:
# find the earliest availability of stocks in the database

cur.execute("""select t1.ticker  , min(t1.date), max(t1.date)
from saffron.daily_price t1
group by t1.ticker""")
cur.fetchone()

('A',
 datetime.datetime(2017, 1, 3, 0, 0),
 datetime.datetime(2022, 2, 23, 0, 0))

In [ ]:

cur.execute("""select ticker, count(ticker) from saffron.security
group by ticker
having count(ticker)>1
order by ticker"""